In [1]:
############################################################################
#
# Purpose: retrieve tweets and tweet creation datetime per twitter  useid
# Marianna Cheklin
# 28/Jan/2021
# v1: Initial working version
# v2: Get entire timeline (or as much as twitter allows)
# Note: The endpoint can return the 3,200 most recent Tweets, Retweets, 
#       replies and Quote Tweets posted by the user.
#############################################################################
#
# Todo:
# 1. expand to get last 3 months using API
# 2. enter check for token
# 3. save as dataframe
#############################################################################

In [2]:

debug = True

!pip install python-dotenv
!pip install twitter_scraper
python3 -m venv twitenv
Code moved to sublime  as py and is run in the twitenv environment



https://github.com/Nonnecke/ScrapingTweets/blob/master/python_Twitter_scrape
# find userid of twitter users
https://codeofaninja.com/tools/find-twitter-id/
userid1=44196397 #elon musk
userid2=14365253 #mark cuban

# this contains information on how add additional fields
https://developer.twitter.com/en/docs/twitter-api/tweets/timelines/migrate

# https://developer.twitter.com/en/docs/twitter-api/tweets/timelines/quick-start
# https://developer.twitter.com/en/docs/twitter-api/expansions

# https://github.com/geduldig/TwitterAPI/blob/master/examples/v2/user_tweets.py
# https://developer.twitter.com/en/docs/twitter-api/users/lookup/quick-start
# https://developer.twitter.com/en/docs/twitter-api/pagination

In [3]:

import os
import dotenv
import pandas as pd
import pickle
from time import sleep
dotenv.load_dotenv()

True

In [4]:
userid1=44196397 #elon musk
userid2=14365253 #mark cuban

In [5]:
TBT = os.environ.get("TWITTER_BEARER_TOKEN")

In [6]:
import requests
import os
import json

# To set your environment variables in your terminal run the following line:
# export 'BEARER_TOKEN'='<your_bearer_token>'


def auth():
    #return os.environ.get("BEARER_TOKEN")
    return os.environ.get("TWITTER_BEARER_TOKEN")


def create_url(userid):
    # Replace with user ID below
    user_id = userid
    return "https://api.twitter.com/2/users/{}/tweets".format(user_id)


def get_params():
    # Tweet fields are adjustable.
    # Options include:
    # attachments, author_id, context_annotations,
    # conversation_id, created_at, entities, geo, id,
    # in_reply_to_user_id, lang, non_public_metrics, organic_metrics,
    # possibly_sensitive, promoted_metrics, public_metrics, referenced_tweets,
    # source, text, and withheld
    # return {"tweet.fields": "created_at"}
    return {"tweet.fields": "created_at", "max_results":100 }


def create_headers(bearer_token):
    headers = {"Authorization": "Bearer {}".format(bearer_token)}
    return headers


def connect_to_endpoint(url, headers, params):
    response = requests.request("GET", url, headers=headers, params=params)
    print(response.status_code)
    if response.status_code != 200:
        raise Exception(
            "Request returned an error: {} {}".format(
                response.status_code, response.text
            )
        )
    return response.json()


def main():
    userid1=44196397 #elon musk
    bearer_token = auth()
    url = create_url(userid1)
    print(url)
    headers = create_headers(bearer_token)
    params = get_params()
    json_response = connect_to_endpoint(url, headers, params)
    #print(json.dumps(json_response, indent=4, sort_keys=True))
    #print(json_response)
    twit_dict = json_response['data']
    
    #print(twit_dict)
    twit_df = pd.DataFrame(twit_dict)
    display(twit_df)
    return twit_df

if __name__ == "__main__":
    main()

https://api.twitter.com/2/users/44196397/tweets
200

,created_at,id,text
0,2021-02-23T08:20:41.000Z,1364128031434887170,@PeterSchiff üçÜ
1,2021-02-23T08:18:12.000Z,1364127406689193986,@PPathole Super cool
2,2021-02-22T23:25:09.000Z,1363993259756945410,@jgrano305 @AustinTeslaClub We have too much p...
3,2021-02-22T20:22:10.000Z,1363947211277496320,@TechAmazing @UniverCurious Tunnels!!
4,2021-02-22T20:21:15.000Z,1363946979005399040,@JantieWillie @Adamklotz_ @AustinTeslaClub Hop...
...,...,...,...
95,2021-02-09T02:22:44.000Z,1358964520522162176,@Adamklotz_ It‚Äôs meant to be the same price in...
96,2021-02-09T00:11:09.000Z,1358931403665117184,"@tobyliiiiiiiiii This is intended for Earth, b..."
97,2021-02-09T00:09:50.000Z,1358931075880284164,@CryptoShrikar @CoinDesk @Tesla @Dan_Z_Palmer ü§£ü§£
98,2021-02-09T00:08:40.000Z,1358930781314322433,XPrize team will manage the $100M carbon captu...
99,2021-02-09T00:02:03.000Z,1358929114166485008,@SRuhle Everyone at Tesla receives stock. \n\n...

In [7]:
# just doge mention

userid1=44196397 #elon musk
bearer_token = auth()
url = create_url(userid1)
print(url)
headers = create_headers(bearer_token)
params = get_params()
json_response = connect_to_endpoint(url, headers, params)
#print(json.dumps(json_response, indent=4, sort_keys=True))
#print(json_response)
twit_dict = json_response['data']

#print(twit_dict)
twit_df = pd.DataFrame(twit_dict)
display(twit_df)

https://api.twitter.com/2/users/44196397/tweets
200

,created_at,id,text
0,2021-02-23T08:20:41.000Z,1364128031434887170,@PeterSchiff üçÜ
1,2021-02-23T08:18:12.000Z,1364127406689193986,@PPathole Super cool
2,2021-02-22T23:25:09.000Z,1363993259756945410,@jgrano305 @AustinTeslaClub We have too much p...
3,2021-02-22T20:22:10.000Z,1363947211277496320,@TechAmazing @UniverCurious Tunnels!!
4,2021-02-22T20:21:15.000Z,1363946979005399040,@JantieWillie @Adamklotz_ @AustinTeslaClub Hop...
...,...,...,...
95,2021-02-09T02:22:44.000Z,1358964520522162176,@Adamklotz_ It‚Äôs meant to be the same price in...
96,2021-02-09T00:11:09.000Z,1358931403665117184,"@tobyliiiiiiiiii This is intended for Earth, b..."
97,2021-02-09T00:09:50.000Z,1358931075880284164,@CryptoShrikar @CoinDesk @Tesla @Dan_Z_Palmer ü§£ü§£
98,2021-02-09T00:08:40.000Z,1358930781314322433,XPrize team will manage the $100M carbon captu...
99,2021-02-09T00:02:03.000Z,1358929114166485008,@SRuhle Everyone at Tesla receives stock. \n\n...

In [8]:
# convert to lower string
twit_df['text_proc'] = twit_df['text'].str.lower()

In [9]:
# filter for doge mention - expand to include other coins in future
twitdoge_df = twit_df[twit_df['text_proc'].str.contains('doge')]

In [10]:
# pickle result
picklefile = open('TWEETDUMP/doge_elon_musk_twitter_df', 'wb')
pickle.dump(twitdoge_df, picklefile)
picklefile.close()


picklefile = open('TWEETDUMP/all_elon_musk_twitter_df', 'wb')
pickle.dump(twit_df, picklefile)
picklefile.close()

## New Version with Pagination

In [11]:
import requests
import os
import json

# To set your environment variables in your terminal run the following line:
# export 'BEARER_TOKEN'='<your_bearer_token>'


def auth():
    #return os.environ.get("BEARER_TOKEN")
    return os.environ.get("TWITTER_BEARER_TOKEN")


def create_url(userid):
    # Replace with user ID below
    user_id = userid
    return "https://api.twitter.com/2/users/{}/tweets".format(user_id)


def get_params(next_token):
    # Tweet fields are adjustable.
    # Options include:
    # attachments, author_id, context_annotations,
    # conversation_id, created_at, entities, geo, id,
    # in_reply_to_user_id, lang, non_public_metrics, organic_metrics,
    # possibly_sensitive, promoted_metrics, public_metrics, referenced_tweets,
    # source, text, and withheld
    # return {"tweet.fields": "created_at"}
    return {"max_results": 100,
        "tweet.fields": "created_at",
        "expansions": "author_id" , 'pagination_token': next_token}


def create_headers(bearer_token):
    headers = {"Authorization": "Bearer {}".format(bearer_token)}
    return headers


def connect_to_endpoint(url, headers, params):
    response = requests.request("GET", url, headers=headers, params=params)
    print(response.status_code)
    if response.status_code != 200:
        raise Exception(
            "Request returned an error: {} {}".format(
                response.status_code, response.text
            )
        )
    return response.json()





def main():
    userid1=44196397 #elon musk
    
    next_token= None
    bearer_token = auth()
    url = create_url(userid1)
    
    #print(url)
    headers = create_headers(bearer_token)
    #print('headers\n',headers)
    params = get_params(next_token)
    #print('params\n',params)
    json_response = connect_to_endpoint(url, headers, params)
    #print(json.dumps(json_response, indent=4, sort_keys=True))
    #print(json_response)
    twit_dict = json_response['data']
    next_token = json_response['meta']['next_token']
    #print('-----------')
    #print('next token: ' , next_token)
    twit_df = pd.DataFrame(twit_dict)
    display(twit_df)
    #return twit_df

if __name__ == "__main__":
    main()

'''
This function iterates across pages of tweets and gets all tweets for a single
user. Pass in user id.
'''
def getUserTweets(userid):
    
    # base dataframe
    twit_df = pd.DataFrame()
    
    
    # set iteration continuation to true initially
    hasNextPage = True
    
    # set initial nexttoken
    nextToken = None

    # while there are tokens continue to extract
    tmpa = 0
    while hasNextPage:
        
        # get the url 
        bearer_token = auth()
        url = create_url(userid1)
        
        # minimum sleep between iterations is 5 seconds
        sleep(7)
        
        #print(url)
        headers = create_headers(bearer_token)
        #print('headers\n',headers)
        params = get_params(nextToken)
        #print('params\n',params)
        json_response = connect_to_endpoint(url, headers, params)
        #print(json.dumps(json_response, indent=4, sort_keys=True))
        #print(json_response)
        twit_dict = json_response['data']

        twit_df_tmp = pd.DataFrame(twit_dict)
        twit_df = pd.concat([twit_df,twit_df_tmp])
        if debug:
            print('length of dataframe: ', len(twit_df))
        display(twit_df)
        
        try:
            nextToken = json_response['meta']['next_token']
            print('-----------')
            print('nextToken token: ' , nextToken)
        except:
            # no more tokens
            hasNextPage = False
            
        tmpa +=1 # increase backup counter
        
        # set a maximum as a backup
        if tmpa==9000:
            hasNextPage = False
            
    if debug:
        display(twit_df)
        print(len(twit_df))        
    return  twit_df

200

,created_at,text,author_id,id
0,2021-02-23T08:20:41.000Z,@PeterSchiff üçÜ,44196397,1364128031434887170
1,2021-02-23T08:18:12.000Z,@PPathole Super cool,44196397,1364127406689193986
2,2021-02-22T23:25:09.000Z,@jgrano305 @AustinTeslaClub We have too much p...,44196397,1363993259756945410
3,2021-02-22T20:22:10.000Z,@TechAmazing @UniverCurious Tunnels!!,44196397,1363947211277496320
4,2021-02-22T20:21:15.000Z,@JantieWillie @Adamklotz_ @AustinTeslaClub Hop...,44196397,1363946979005399040
...,...,...,...,...
95,2021-02-09T02:22:44.000Z,@Adamklotz_ It‚Äôs meant to be the same price in...,44196397,1358964520522162176
96,2021-02-09T00:11:09.000Z,"@tobyliiiiiiiiii This is intended for Earth, b...",44196397,1358931403665117184
97,2021-02-09T00:09:50.000Z,@CryptoShrikar @CoinDesk @Tesla @Dan_Z_Palmer ü§£ü§£,44196397,1358931075880284164
98,2021-02-09T00:08:40.000Z,XPrize team will manage the $100M carbon captu...,44196397,1358930781314322433
99,2021-02-09T00:02:03.000Z,@SRuhle Everyone at Tesla receives stock. \n\n...,44196397,1358929114166485008

In [12]:
userid1=44196397 # elon musk
tdf = getUserTweets(userid1)

200
length of dataframe:  100

,created_at,id,text,author_id
0,2021-02-23T08:20:41.000Z,1364128031434887170,@PeterSchiff üçÜ,44196397
1,2021-02-23T08:18:12.000Z,1364127406689193986,@PPathole Super cool,44196397
2,2021-02-22T23:25:09.000Z,1363993259756945410,@jgrano305 @AustinTeslaClub We have too much p...,44196397
3,2021-02-22T20:22:10.000Z,1363947211277496320,@TechAmazing @UniverCurious Tunnels!!,44196397
4,2021-02-22T20:21:15.000Z,1363946979005399040,@JantieWillie @Adamklotz_ @AustinTeslaClub Hop...,44196397
...,...,...,...,...
95,2021-02-09T02:22:44.000Z,1358964520522162176,@Adamklotz_ It‚Äôs meant to be the same price in...,44196397
96,2021-02-09T00:11:09.000Z,1358931403665117184,"@tobyliiiiiiiiii This is intended for Earth, b...",44196397
97,2021-02-09T00:09:50.000Z,1358931075880284164,@CryptoShrikar @CoinDesk @Tesla @Dan_Z_Palmer ü§£ü§£,44196397
98,2021-02-09T00:08:40.000Z,1358930781314322433,XPrize team will manage the $100M carbon captu...,44196397
99,2021-02-09T00:02:03.000Z,1358929114166485008,@SRuhle Everyone at Tesla receives stock. \n\n...,44196397

-----------
nextToken token:  7140dibdnow9c7btw3w340jvcj9fwzrwqlq0xzr5xqed4
200
length of dataframe:  200

,created_at,id,text,author_id
0,2021-02-23T08:20:41.000Z,1364128031434887170,@PeterSchiff üçÜ,44196397
1,2021-02-23T08:18:12.000Z,1364127406689193986,@PPathole Super cool,44196397
2,2021-02-22T23:25:09.000Z,1363993259756945410,@jgrano305 @AustinTeslaClub We have too much p...,44196397
3,2021-02-22T20:22:10.000Z,1363947211277496320,@TechAmazing @UniverCurious Tunnels!!,44196397
4,2021-02-22T20:21:15.000Z,1363946979005399040,@JantieWillie @Adamklotz_ @AustinTeslaClub Hop...,44196397
...,...,...,...,...
95,2021-01-29T20:44:02.000Z,1355255403945332737,Starship SN9 &amp; SN10 https://t.co/urtPJn7amo,44196397
96,2021-01-29T08:22:15.000Z,1355068728128516101,"In retrospect, it was inevitable",44196397
97,2021-01-29T05:16:04.000Z,1355021874850394114,@RGVaerialphotos Great shot,44196397
98,2021-01-29T00:47:33.000Z,1354954300041080835,"@its_menieb Live by the sword, die by the sword",44196397
99,2021-01-29T00:37:24.000Z,1354951746305585152,@lexfridman Entropy,44196397

-----------
nextToken token:  7140dibdnow9c7btw3w33s0yvpl17r209ep20gcwgp4xe
200
length of dataframe:  300

,created_at,id,text,author_id
0,2021-02-23T08:20:41.000Z,1364128031434887170,@PeterSchiff üçÜ,44196397
1,2021-02-23T08:18:12.000Z,1364127406689193986,@PPathole Super cool,44196397
2,2021-02-22T23:25:09.000Z,1363993259756945410,@jgrano305 @AustinTeslaClub We have too much p...,44196397
3,2021-02-22T20:22:10.000Z,1363947211277496320,@TechAmazing @UniverCurious Tunnels!!,44196397
4,2021-02-22T20:21:15.000Z,1363946979005399040,@JantieWillie @Adamklotz_ @AustinTeslaClub Hop...,44196397
...,...,...,...,...
95,2021-01-17T21:22:05.000Z,1350916326165008396,@teslaownersSV This is a good one,44196397
96,2021-01-16T22:55:49.000Z,1350577525769043979,@MrBeastYT I whistle,44196397
97,2021-01-16T01:31:57.000Z,1350254430512361474,@DMC_Ryan @C_R_H_M @Tesla Cybertruck doesn‚Äôt n...,44196397
98,2021-01-16T01:29:50.000Z,1350253896267083776,@DMC_Ryan @Tesla It will be awesome,44196397
99,2021-01-16T01:28:33.000Z,1350253575344152583,@owenshift Good point,44196397

-----------
nextToken token:  7140dibdnow9c7btw3w33jfyreji0nzm80t6ie9tfwier
200
length of dataframe:  400

,created_at,id,text,author_id
0,2021-02-23T08:20:41.000Z,1364128031434887170,@PeterSchiff üçÜ,44196397
1,2021-02-23T08:18:12.000Z,1364127406689193986,@PPathole Super cool,44196397
2,2021-02-22T23:25:09.000Z,1363993259756945410,@jgrano305 @AustinTeslaClub We have too much p...,44196397
3,2021-02-22T20:22:10.000Z,1363947211277496320,@TechAmazing @UniverCurious Tunnels!!,44196397
4,2021-02-22T20:21:15.000Z,1363946979005399040,@JantieWillie @Adamklotz_ @AustinTeslaClub Hop...,44196397
...,...,...,...,...
95,2021-01-04T20:57:05.000Z,1346198993307631617,"Because of the large footprint, it may seem fl...",44196397
96,2021-01-04T20:26:11.000Z,1346191214769557505,Snow falling on Giga Berlin https://t.co/eTXMt...,44196397
97,2021-01-03T00:04:01.000Z,1345521261246496769,@RGVaerialphotos @SpaceX Yes,44196397
98,2021-01-02T15:07:58.000Z,1345386356504027136,@Gfilche üòâ,44196397
99,2021-01-02T14:59:09.000Z,1345384139969552389,@flcnhvy Tesla is responsible for 2/3 of all t...,44196397

-----------
nextToken token:  7140dibdnow9c7btw3w2oohyhzss7r017vcjzqy33t73t
200
length of dataframe:  500

,created_at,id,text,author_id
0,2021-02-23T08:20:41.000Z,1364128031434887170,@PeterSchiff üçÜ,44196397
1,2021-02-23T08:18:12.000Z,1364127406689193986,@PPathole Super cool,44196397
2,2021-02-22T23:25:09.000Z,1363993259756945410,@jgrano305 @AustinTeslaClub We have too much p...,44196397
3,2021-02-22T20:22:10.000Z,1363947211277496320,@TechAmazing @UniverCurious Tunnels!!,44196397
4,2021-02-22T20:21:15.000Z,1363946979005399040,@JantieWillie @Adamklotz_ @AustinTeslaClub Hop...,44196397
...,...,...,...,...
95,2020-12-21T13:04:16.000Z,1341006575650140161,Thanks to everyone who worked so hard to make ...,44196397
96,2020-12-21T13:02:48.000Z,1341006203275669505,@teslaownerssv Indeed,44196397
97,2020-12-21T11:21:24.000Z,1340980684366737409,@Kristennetten It was a seriously twisted affa...,44196397
98,2020-12-21T11:13:27.000Z,1340978686212800513,"@MKBHD They are, although it‚Äôs kind low-key. T...",44196397
99,2020-12-20T21:31:49.000Z,1340771916156690434,RT @SpaceX: Photos from yesterday‚Äôs launch and...,44196397

-----------
nextToken token:  7140dibdnow9c7btw3w2odvivi8ks77y3kwnw8xaw9a2c
200
length of dataframe:  600

,created_at,id,text,author_id
0,2021-02-23T08:20:41.000Z,1364128031434887170,@PeterSchiff üçÜ,44196397
1,2021-02-23T08:18:12.000Z,1364127406689193986,@PPathole Super cool,44196397
2,2021-02-22T23:25:09.000Z,1363993259756945410,@jgrano305 @AustinTeslaClub We have too much p...,44196397
3,2021-02-22T20:22:10.000Z,1363947211277496320,@TechAmazing @UniverCurious Tunnels!!,44196397
4,2021-02-22T20:21:15.000Z,1363946979005399040,@JantieWillie @Adamklotz_ @AustinTeslaClub Hop...,44196397
...,...,...,...,...
95,2020-12-05T22:06:01.000Z,1335344701516390401,@haya2e_jaxa Congratulations!,44196397
96,2020-12-05T09:56:35.000Z,1335161134932840451,"@RDAnglePhoto @SpaceX @Teslarati Yes, it does.",44196397
97,2020-12-04T08:57:05.000Z,1334783772856750081,RT @boringcompany: Tunnel Rave https://t.co/d3...,44196397
98,2020-12-03T23:40:23.000Z,1334643674823712768,@RationalEtienne And no toilet paper ü§£ü§£,44196397
99,2020-12-03T23:30:34.000Z,1334641206580682752,Watch Demolition Man,44196397

-----------
nextToken token:  7140dibdnow9c7btw3w29gs6msu18ktsc7xbxl5wvt06q
200
length of dataframe:  700

,created_at,id,text,author_id
0,2021-02-23T08:20:41.000Z,1364128031434887170,@PeterSchiff üçÜ,44196397
1,2021-02-23T08:18:12.000Z,1364127406689193986,@PPathole Super cool,44196397
2,2021-02-22T23:25:09.000Z,1363993259756945410,@jgrano305 @AustinTeslaClub We have too much p...,44196397
3,2021-02-22T20:22:10.000Z,1363947211277496320,@TechAmazing @UniverCurious Tunnels!!,44196397
4,2021-02-22T20:21:15.000Z,1363946979005399040,@JantieWillie @Adamklotz_ @AustinTeslaClub Hop...,44196397
...,...,...,...,...
95,2020-11-19T05:24:26.000Z,1329294442117951488,@westcoastbill @SpaceX 13 years &amp; $11 bill...,44196397
96,2020-11-19T03:31:56.000Z,1329266129949380608,@OwenSparks_ @flcnhvy @Tesla Safety is our pri...,44196397
97,2020-11-19T01:22:22.000Z,1329233524528967681,@PPathole @AstroJordy @flcnhvy Fully,44196397
98,2020-11-18T23:47:04.000Z,1329209538956898306,@Astronomiaum Let the Martians decide their ow...,44196397
99,2020-11-18T23:34:26.000Z,1329206361469710336,@shifthappends @Tesla A lot of my brain space ...,44196397

-----------
nextToken token:  7140dibdnow9c7btw3w1ulso4npu4l8if01igl6ymxnhy
200
length of dataframe:  800

,created_at,id,text,author_id
0,2021-02-23T08:20:41.000Z,1364128031434887170,@PeterSchiff üçÜ,44196397
1,2021-02-23T08:18:12.000Z,1364127406689193986,@PPathole Super cool,44196397
2,2021-02-22T23:25:09.000Z,1363993259756945410,@jgrano305 @AustinTeslaClub We have too much p...,44196397
3,2021-02-22T20:22:10.000Z,1363947211277496320,@TechAmazing @UniverCurious Tunnels!!,44196397
4,2021-02-22T20:21:15.000Z,1363946979005399040,@JantieWillie @Adamklotz_ @AustinTeslaClub Hop...,44196397
...,...,...,...,...
95,2020-11-14T06:33:48.000Z,1327499959877263360,@slashdot Feels that way,44196397
96,2020-11-14T06:24:19.000Z,1327497570730397696,@WhatsupFranks @bluemoondance74 @StephenKing T...,44196397
97,2020-11-14T06:11:36.000Z,1327494369553760256,@bluemoondance74 @StephenKing Cold symptoms ar...,44196397
98,2020-11-14T05:00:38.000Z,1327476513227214854,@StephenKing There are degrees of pos,44196397
99,2020-11-14T00:43:52.000Z,1327411896471875584,@MrSammy_H @pelagicbird @max_roi @rossy65 Hene...,44196397

-----------
nextToken token:  7140dibdnow9c7btw3w1uhjtgc3slqlgnrwvzwer6po38
200
length of dataframe:  900

,created_at,id,text,author_id
0,2021-02-23T08:20:41.000Z,1364128031434887170,@PeterSchiff üçÜ,44196397
1,2021-02-23T08:18:12.000Z,1364127406689193986,@PPathole Super cool,44196397
2,2021-02-22T23:25:09.000Z,1363993259756945410,@jgrano305 @AustinTeslaClub We have too much p...,44196397
3,2021-02-22T20:22:10.000Z,1363947211277496320,@TechAmazing @UniverCurious Tunnels!!,44196397
4,2021-02-22T20:21:15.000Z,1363946979005399040,@JantieWillie @Adamklotz_ @AustinTeslaClub Hop...,44196397
...,...,...,...,...
95,2020-11-03T01:10:20.000Z,1323432289947262982,@josh_bickett @PPathole Yes,44196397
96,2020-11-03T01:05:28.000Z,1323431066158452736,"@PPathole Lowering Starlink terminal cost, whi...",44196397
97,2020-11-03T01:02:59.000Z,1323430438577328128,@itshamzahkhan As soon as we get regulatory ap...,44196397
98,2020-11-03T01:01:50.000Z,1323430150034382848,"@thesheetztweetz Right now, it takes about 5 m...",44196397
99,2020-11-02T20:26:20.000Z,1323360818336092167,@kjell_arne @flcnhvy Canada and Norway are nex...,44196397

-----------
nextToken token:  7140dibdnow9c7btw3w1u90ma5saxhhznrt3rsq4283lj
200
length of dataframe:  1000

,created_at,id,text,author_id
0,2021-02-23T08:20:41.000Z,1364128031434887170,@PeterSchiff üçÜ,44196397
1,2021-02-23T08:18:12.000Z,1364127406689193986,@PPathole Super cool,44196397
2,2021-02-22T23:25:09.000Z,1363993259756945410,@jgrano305 @AustinTeslaClub We have too much p...,44196397
3,2021-02-22T20:22:10.000Z,1363947211277496320,@TechAmazing @UniverCurious Tunnels!!,44196397
4,2021-02-22T20:21:15.000Z,1363946979005399040,@JantieWillie @Adamklotz_ @AustinTeslaClub Hop...,44196397
...,...,...,...,...
95,2020-10-22T00:40:52.000Z,1319076218038145024,@Teslarati Dependent on proving high safety,44196397
96,2020-10-21T23:33:40.000Z,1319059307804045316,@WholeMarsBlog Not intentional! We just wanted...,44196397
97,2020-10-21T23:26:22.000Z,1319057472045264896,"@Erdayastronaut Cold gas for now, hot later",44196397
98,2020-10-21T20:16:21.000Z,1319009651694993409,"@Rubix161 I mean, ya gotta have a tiki bar ‚Ä¶",44196397
99,2020-10-21T20:13:20.000Z,1319008891817132032,"Starship nosecone, high bay &amp; tiki bar htt...",44196397

-----------
nextToken token:  7140dibdnow9c7btw3w1fg64mredtxdt3jvqff5do9fle
200
length of dataframe:  1100

,created_at,id,text,author_id
0,2021-02-23T08:20:41.000Z,1364128031434887170,@PeterSchiff üçÜ,44196397
1,2021-02-23T08:18:12.000Z,1364127406689193986,@PPathole Super cool,44196397
2,2021-02-22T23:25:09.000Z,1363993259756945410,@jgrano305 @AustinTeslaClub We have too much p...,44196397
3,2021-02-22T20:22:10.000Z,1363947211277496320,@TechAmazing @UniverCurious Tunnels!!,44196397
4,2021-02-22T20:21:15.000Z,1363946979005399040,@JantieWillie @Adamklotz_ @AustinTeslaClub Hop...,44196397
...,...,...,...,...
95,2020-10-09T22:11:28.000Z,1314689966870425605,@Neopork85 @Caspar_Stanley @ErcXspace @MarcusH...,44196397
96,2020-10-09T20:38:19.000Z,1314666526297923585,@ID_AA_Carmack Compilers need to improve imo. ...,44196397
97,2020-10-09T09:07:07.000Z,1314492577383698434,@RGVaerialphotos @SpaceX I‚Äôm proud to say that...,44196397
98,2020-10-09T07:14:43.000Z,1314464290552807425,RT @MotorTrend: We put the 2020 @Tesla Model Y...,44196397
99,2020-10-09T07:07:13.000Z,1314462406614093825,@SDG2030 @anandmahindra @MetniGeorges @ErikSol...,44196397

-----------
nextToken token:  7140dibdnow9c7btw3w1f5jpavjno9b11jhms3l8uwi7p
200
length of dataframe:  1200

,created_at,id,text,author_id
0,2021-02-23T08:20:41.000Z,1364128031434887170,@PeterSchiff üçÜ,44196397
1,2021-02-23T08:18:12.000Z,1364127406689193986,@PPathole Super cool,44196397
2,2021-02-22T23:25:09.000Z,1363993259756945410,@jgrano305 @AustinTeslaClub We have too much p...,44196397
3,2021-02-22T20:22:10.000Z,1363947211277496320,@TechAmazing @UniverCurious Tunnels!!,44196397
4,2021-02-22T20:21:15.000Z,1363946979005399040,@JantieWillie @Adamklotz_ @AustinTeslaClub Hop...,44196397
...,...,...,...,...
95,2020-10-02T05:54:55.000Z,1311907493182926849,@PPathole @Erdayastronaut @NASASpaceflight @Bo...,44196397
96,2020-10-02T05:45:44.000Z,1311905182230491137,@thesheetztweetz @waEMD @SpaceX @SpaceXStarlin...,44196397
97,2020-10-02T04:11:52.000Z,1311881562728747010,@WholeMarsBlog @MKBHD Yeah,44196397
98,2020-10-02T04:08:56.000Z,1311880821377175552,@AdlanBogatyryov @Erdayastronaut @NASASpacefli...,44196397
99,2020-10-02T04:02:01.000Z,1311879083379224577,@Erdayastronaut @NASASpaceflight @BocaChicaGal...,44196397

-----------
nextToken token:  7140dibdnow9c7btw3w1ez6q259x03h1gv0zw014mgiev
200
length of dataframe:  1300

,created_at,id,text,author_id
0,2021-02-23T08:20:41.000Z,1364128031434887170,@PeterSchiff üçÜ,44196397
1,2021-02-23T08:18:12.000Z,1364127406689193986,@PPathole Super cool,44196397
2,2021-02-22T23:25:09.000Z,1363993259756945410,@jgrano305 @AustinTeslaClub We have too much p...,44196397
3,2021-02-22T20:22:10.000Z,1363947211277496320,@TechAmazing @UniverCurious Tunnels!!,44196397
4,2021-02-22T20:21:15.000Z,1363946979005399040,@JantieWillie @Adamklotz_ @AustinTeslaClub Hop...,44196397
...,...,...,...,...
95,2020-09-22T21:00:10.000Z,1308511431378124800,RT @CARandDRIVER: We drove a Model S Long Rang...,44196397
96,2020-09-22T05:56:48.000Z,1308284091142266881,The extreme difficulty of scaling production o...,44196397
97,2020-09-22T00:27:40.000Z,1308201260722524160,@NASASpaceflight @BocaChicaGal Haha,44196397
98,2020-09-21T21:00:46.000Z,1308149191684710400,"We intend to increase, not reduce battery cell...",44196397
99,2020-09-21T20:56:52.000Z,1308148212876812289,Important note about Tesla Battery Day unveil ...,44196397

-----------
nextToken token:  7140dibdnow9c7btw3w108frivarxfy6t01rsy05qv4u1
200
length of dataframe:  1400

,created_at,id,text,author_id
0,2021-02-23T08:20:41.000Z,1364128031434887170,@PeterSchiff üçÜ,44196397
1,2021-02-23T08:18:12.000Z,1364127406689193986,@PPathole Super cool,44196397
2,2021-02-22T23:25:09.000Z,1363993259756945410,@jgrano305 @AustinTeslaClub We have too much p...,44196397
3,2021-02-22T20:22:10.000Z,1363947211277496320,@TechAmazing @UniverCurious Tunnels!!,44196397
4,2021-02-22T20:21:15.000Z,1363946979005399040,@JantieWillie @Adamklotz_ @AustinTeslaClub Hop...,44196397
...,...,...,...,...
95,2020-09-10T05:43:58.000Z,1303932208235917312,@wintonARK True,44196397
96,2020-09-10T03:26:59.000Z,1303897732487274497,@DisruptResearch Tesla is best understood as a...,44196397
97,2020-09-10T03:12:44.000Z,1303894146919403521,@DisruptResearch Tesla R&amp;D productivity is...,44196397
98,2020-09-09T21:09:06.000Z,1303802636827799555,Tesla Model S &amp; X have hospital-grade (HEP...,44196397
99,2020-09-09T20:31:54.000Z,1303793275141316608,@Klee_FilmReview !,44196397

-----------
nextToken token:  7140dibdnow9c7btw3w0zxtxqbsfg950e8b6dnzie5hyw
200
length of dataframe:  1500

,created_at,id,text,author_id
0,2021-02-23T08:20:41.000Z,1364128031434887170,@PeterSchiff üçÜ,44196397
1,2021-02-23T08:18:12.000Z,1364127406689193986,@PPathole Super cool,44196397
2,2021-02-22T23:25:09.000Z,1363993259756945410,@jgrano305 @AustinTeslaClub We have too much p...,44196397
3,2021-02-22T20:22:10.000Z,1363947211277496320,@TechAmazing @UniverCurious Tunnels!!,44196397
4,2021-02-22T20:21:15.000Z,1363946979005399040,@JantieWillie @Adamklotz_ @AustinTeslaClub Hop...,44196397
...,...,...,...,...
95,2020-08-28T02:44:17.000Z,1299175947174780929,@GerberKawasaki @Tesla Thanks to a smart and h...,44196397
96,2020-08-27T22:03:29.000Z,1299105277485088768,@Teslarati Much appreciated. This was a seriou...,44196397
97,2020-08-27T17:16:39.000Z,1299033095438340096,@thejackbeyer @NASASpaceflight Brave Starhoppe...,44196397
98,2020-08-27T07:15:06.000Z,1298881709262462976,@ItMotivatesUs Only so many days @waitbutwhy h...,44196397
99,2020-08-27T07:08:19.000Z,1298880004332412929,@WholeMarsBlog We were too obtuse for our own ...,44196397

-----------
nextToken token:  7140dibdnow9c7btw3t50qy5f5v5b7ozpdeohz3fr6k3d
200
length of dataframe:  1600

,created_at,id,text,author_id
0,2021-02-23T08:20:41.000Z,1364128031434887170,@PeterSchiff üçÜ,44196397
1,2021-02-23T08:18:12.000Z,1364127406689193986,@PPathole Super cool,44196397
2,2021-02-22T23:25:09.000Z,1363993259756945410,@jgrano305 @AustinTeslaClub We have too much p...,44196397
3,2021-02-22T20:22:10.000Z,1363947211277496320,@TechAmazing @UniverCurious Tunnels!!,44196397
4,2021-02-22T20:21:15.000Z,1363946979005399040,@JantieWillie @Adamklotz_ @AustinTeslaClub Hop...,44196397
...,...,...,...,...
95,2020-08-17T23:13:16.000Z,1295498964205068289,@NASASpaceflight SN40 is about to be tested &a...,44196397
96,2020-08-17T23:00:50.000Z,1295495834998513664,Raptor engine just reached 330 bar chamber pre...,44196397
97,2020-08-17T21:32:42.000Z,1295473654612934656,"@Erdayastronaut Yeah, Starship will be a tiny ...",44196397
98,2020-08-17T21:30:33.000Z,1295473111081447424,@C_Bass3d @Erdayastronaut @NASASpaceflight @Fe...,44196397
99,2020-08-17T06:06:05.000Z,1295240462798860288,@PPathole @universal_sci This might sting a li...,44196397

-----------
nextToken token:  7140dibdnow9c7btw3t50ki62j8vdz8stpyslhjl99d88
200
length of dataframe:  1700

,created_at,id,text,author_id
0,2021-02-23T08:20:41.000Z,1364128031434887170,@PeterSchiff üçÜ,44196397
1,2021-02-23T08:18:12.000Z,1364127406689193986,@PPathole Super cool,44196397
2,2021-02-22T23:25:09.000Z,1363993259756945410,@jgrano305 @AustinTeslaClub We have too much p...,44196397
3,2021-02-22T20:22:10.000Z,1363947211277496320,@TechAmazing @UniverCurious Tunnels!!,44196397
4,2021-02-22T20:21:15.000Z,1363946979005399040,@JantieWillie @Adamklotz_ @AustinTeslaClub Hop...,44196397
...,...,...,...,...
95,2020-08-08T19:39:50.000Z,1292183759878463488,@BernieSanders That bs was pushed by oil &amp;...,44196397
96,2020-08-08T19:26:57.000Z,1292180515336777728,@Siconik1 @WR4NYGov @28delayslater @BernieSand...,44196397
97,2020-08-08T19:25:59.000Z,1292180273254154241,@WR4NYGov @BernieSanders Good analysis. He als...,44196397
98,2020-08-08T02:45:16.000Z,1291928435468587009,@westcoastbill üíØ,44196397
99,2020-08-07T21:32:29.000Z,1291849720973783040,@johnkrausphotos @Erdayastronaut @queue_max @N...,44196397

-----------
nextToken token:  7140dibdnow9c7btw3t50c127tkoofpgcxtnlx8ksjpkg
200
length of dataframe:  1800

,created_at,id,text,author_id
0,2021-02-23T08:20:41.000Z,1364128031434887170,@PeterSchiff üçÜ,44196397
1,2021-02-23T08:18:12.000Z,1364127406689193986,@PPathole Super cool,44196397
2,2021-02-22T23:25:09.000Z,1363993259756945410,@jgrano305 @AustinTeslaClub We have too much p...,44196397
3,2021-02-22T20:22:10.000Z,1363947211277496320,@TechAmazing @UniverCurious Tunnels!!,44196397
4,2021-02-22T20:21:15.000Z,1363946979005399040,@JantieWillie @Adamklotz_ @AustinTeslaClub Hop...,44196397
...,...,...,...,...
95,2020-07-30T07:12:22.000Z,1288734164485898240,I ‚Ä¶ I just died in your arms tonight,44196397
96,2020-07-30T06:55:03.000Z,1288729803663843329,The rumor that Bill Gates &amp; I are lovers i...,44196397
97,2020-07-30T06:39:30.000Z,1288725893259698176,@WholeMarsBlog @PPathole Yeah. Display will al...,44196397
98,2020-07-30T06:35:16.000Z,1288724824009977857,@keith31345919 @PPathole https://t.co/S8mdWgCdFg,44196397
99,2020-07-30T06:32:50.000Z,1288724211767418880,@keith31345919 @PPathole We‚Äôve been working on...,44196397

-----------
nextToken token:  7140dibdnow9c7btw3t4llbwgllzlzqya944zkh8xtvzk
200
length of dataframe:  1900

,created_at,id,text,author_id
0,2021-02-23T08:20:41.000Z,1364128031434887170,@PeterSchiff üçÜ,44196397
1,2021-02-23T08:18:12.000Z,1364127406689193986,@PPathole Super cool,44196397
2,2021-02-22T23:25:09.000Z,1363993259756945410,@jgrano305 @AustinTeslaClub We have too much p...,44196397
3,2021-02-22T20:22:10.000Z,1363947211277496320,@TechAmazing @UniverCurious Tunnels!!,44196397
4,2021-02-22T20:21:15.000Z,1363946979005399040,@JantieWillie @Adamklotz_ @AustinTeslaClub Hop...,44196397
...,...,...,...,...
95,2020-07-23T18:00:44.000Z,1286360612415692802,@Teslarati Retail investors like @hyperchanget...,44196397
96,2020-07-23T17:29:13.000Z,1286352681947344896,"@SciGuySpace Especially for boost stage, which...",44196397
97,2020-07-23T17:19:52.000Z,1286350331169906690,"@waitbutwhy Basically, our pixel size",44196397
98,2020-07-23T11:58:14.000Z,1286269390107926531,@LudaLisl @Tesla Can‚Äôt emphasize this enough,44196397
99,2020-07-23T11:57:03.000Z,1286269091439955975,@tomosman @Tesla Absolutely,44196397

-----------
nextToken token:  7140dibdnow9c7btw3t4lh0ydwdbpc7x9g12v821jn6et
200
length of dataframe:  1999

,created_at,id,text,author_id
0,2021-02-23T08:20:41.000Z,1364128031434887170,@PeterSchiff üçÜ,44196397
1,2021-02-23T08:18:12.000Z,1364127406689193986,@PPathole Super cool,44196397
2,2021-02-22T23:25:09.000Z,1363993259756945410,@jgrano305 @AustinTeslaClub We have too much p...,44196397
3,2021-02-22T20:22:10.000Z,1363947211277496320,@TechAmazing @UniverCurious Tunnels!!,44196397
4,2021-02-22T20:21:15.000Z,1363946979005399040,@JantieWillie @Adamklotz_ @AustinTeslaClub Hop...,44196397
...,...,...,...,...
94,2020-07-15T05:39:52.000Z,1283275066805911552,Giga Berlin https://t.co/UXQMUVTWXf,44196397
95,2020-07-15T04:07:58.000Z,1283251937383550976,@Pontolemaeus @SilverDeGeneral @BBCScienceNews...,44196397
96,2020-07-15T04:03:35.000Z,1283250835028185089,@vincentdiong @GerberKawasaki Considering,44196397
97,2020-07-15T03:45:22.000Z,1283246252608503808,@flcnhvy @SpaceX Small note: latch on post nea...,44196397
98,2020-07-15T02:27:10.000Z,1283226569696096263,@BBCScienceNews https://t.co/xxRXfrQhBs,44196397

-----------
nextToken token:  7140dibdnow9c7btw3t4lamrrtd0211hbg52w1f2w0v8z
200
length of dataframe:  2099

,created_at,id,text,author_id
0,2021-02-23T08:20:41.000Z,1364128031434887170,@PeterSchiff üçÜ,44196397
1,2021-02-23T08:18:12.000Z,1364127406689193986,@PPathole Super cool,44196397
2,2021-02-22T23:25:09.000Z,1363993259756945410,@jgrano305 @AustinTeslaClub We have too much p...,44196397
3,2021-02-22T20:22:10.000Z,1363947211277496320,@TechAmazing @UniverCurious Tunnels!!,44196397
4,2021-02-22T20:21:15.000Z,1363946979005399040,@JantieWillie @Adamklotz_ @AustinTeslaClub Hop...,44196397
...,...,...,...,...
95,2020-07-05T20:01:08.000Z,1279867930289647617,Limited edition short shorts now available at ...,44196397
96,2020-07-05T19:56:22.000Z,1279866732937535488,"@Gfilche Yes haha, we will soon be short of sh...",44196397
97,2020-07-05T18:36:26.000Z,1279846614723514368,@blue_bnd @Kristennetten @flcnhvy @PPathole Ye...,44196397
98,2020-07-05T18:33:53.000Z,1279845976916676608,@spaceguy_24 @teslaownersSV @EvaFoxU @cnunezim...,44196397
99,2020-07-05T18:25:34.000Z,1279843882771963904,@EvaFoxU @cnunezimages Nice haha,44196397

-----------
nextToken token:  7140dibdnow9c7btw3t46huzkbzfa3gw537sgd6ca7uic
200
length of dataframe:  2199

,created_at,id,text,author_id
0,2021-02-23T08:20:41.000Z,1364128031434887170,@PeterSchiff üçÜ,44196397
1,2021-02-23T08:18:12.000Z,1364127406689193986,@PPathole Super cool,44196397
2,2021-02-22T23:25:09.000Z,1363993259756945410,@jgrano305 @AustinTeslaClub We have too much p...,44196397
3,2021-02-22T20:22:10.000Z,1363947211277496320,@TechAmazing @UniverCurious Tunnels!!,44196397
4,2021-02-22T20:21:15.000Z,1363946979005399040,@JantieWillie @Adamklotz_ @AustinTeslaClub Hop...,44196397
...,...,...,...,...
95,2020-07-02T17:08:45.000Z,1278737385052942336,@eugenelee3 @Teslarati I tried to warn them ‚Ä¶ üò¢,44196397
96,2020-07-02T17:07:22.000Z,1278737039517769728,@PPathole @tlowdon @daniellevitt22 Yup,44196397
97,2020-07-02T17:06:19.000Z,1278736773820997632,RT @Teslarati: Tesla crushes Wall Street‚Äôs Q2 ...,44196397
98,2020-07-02T17:04:12.000Z,1278736243199807490,@hot_rod_co Something‚Äôs messed up about medici...,44196397
99,2020-07-02T16:49:49.000Z,1278732624152932352,@hot_rod_co @angie_rasmussen Here‚Äôs one: https...,44196397

-----------
nextToken token:  7140dibdnow9c7btw3t46fpyl1t6k4gf46jqodbfm15pu
200
length of dataframe:  2299

,created_at,id,text,author_id
0,2021-02-23T08:20:41.000Z,1364128031434887170,@PeterSchiff üçÜ,44196397
1,2021-02-23T08:18:12.000Z,1364127406689193986,@PPathole Super cool,44196397
2,2021-02-22T23:25:09.000Z,1363993259756945410,@jgrano305 @AustinTeslaClub We have too much p...,44196397
3,2021-02-22T20:22:10.000Z,1363947211277496320,@TechAmazing @UniverCurious Tunnels!!,44196397
4,2021-02-22T20:21:15.000Z,1363946979005399040,@JantieWillie @Adamklotz_ @AustinTeslaClub Hop...,44196397
...,...,...,...,...
95,2020-06-22T03:05:26.000Z,1274901279475564544,Reminder that Tesla Full Self-Driving (FSD) pr...,44196397
96,2020-06-22T03:04:26.000Z,1274901029356593152,Enabling basic Tesla Autopilot via Tesla in-ap...,44196397
97,2020-06-22T01:47:27.000Z,1274881655468027904,@austinbarnard45 All patched up!,44196397
98,2020-06-21T21:41:32.000Z,1274819769577828352,@PPathole Entirely possible. Social media is a...,44196397
99,2020-06-21T15:46:00.000Z,1274730293891461122,@WBMason Ensure future of Earth &amp; extend l...,44196397

-----------
nextToken token:  7140dibdnow9c7btw3t46771zpjbq6vnep93kofxt41ma
200
length of dataframe:  2399

,created_at,id,text,author_id
0,2021-02-23T08:20:41.000Z,1364128031434887170,@PeterSchiff üçÜ,44196397
1,2021-02-23T08:18:12.000Z,1364127406689193986,@PPathole Super cool,44196397
2,2021-02-22T23:25:09.000Z,1363993259756945410,@jgrano305 @AustinTeslaClub We have too much p...,44196397
3,2021-02-22T20:22:10.000Z,1363947211277496320,@TechAmazing @UniverCurious Tunnels!!,44196397
4,2021-02-22T20:21:15.000Z,1363946979005399040,@JantieWillie @Adamklotz_ @AustinTeslaClub Hop...,44196397
...,...,...,...,...
95,2020-06-11T10:05:43.000Z,1271020780088750082,@justpaulinelol @engineers_feed As foretold by...,44196397
96,2020-06-11T10:01:41.000Z,1271019765138518016,@engineers_feed Stonks,44196397
97,2020-06-11T09:49:26.000Z,1271016684489281536,lol,44196397
98,2020-06-11T09:39:54.000Z,1271014285402046464,@Erdayastronaut @i_gvf @SciGuySpace Exactly. C...,44196397
99,2020-06-11T09:32:03.000Z,1271012307422806018,@tobyliiiiiiiiii @physorg_com @nature @SciRepo...,44196397

-----------
nextToken token:  7140dibdnow9c7btw3t460qrxp7nf71gp9tsxbzh8ochk
200
length of dataframe:  2499

,created_at,id,text,author_id
0,2021-02-23T08:20:41.000Z,1364128031434887170,@PeterSchiff üçÜ,44196397
1,2021-02-23T08:18:12.000Z,1364127406689193986,@PPathole Super cool,44196397
2,2021-02-22T23:25:09.000Z,1363993259756945410,@jgrano305 @AustinTeslaClub We have too much p...,44196397
3,2021-02-22T20:22:10.000Z,1363947211277496320,@TechAmazing @UniverCurious Tunnels!!,44196397
4,2021-02-22T20:21:15.000Z,1363946979005399040,@JantieWillie @Adamklotz_ @AustinTeslaClub Hop...,44196397
...,...,...,...,...
95,2020-05-31T18:25:58.000Z,1267160409498357764,@NASASpaceflight Must be due to relativistic a...,44196397
96,2020-05-31T18:14:19.000Z,1267157474886455296,@NASASpaceflight Brought home by same person w...,44196397
97,2020-05-31T18:11:42.000Z,1267156817295085575,@Rogozin @SpaceX @JimBridenstine @roscosmos @N...,44196397
98,2020-05-31T17:31:11.000Z,1267146619562201090,@SpaceX @NASA @AstroBehnken @Astro_Doug Congra...,44196397
99,2020-05-31T16:51:58.000Z,1267136749987389440,RT @SpaceX: Live webcast of Crew Dragon‚Äôs test...,44196397

-----------
nextToken token:  7140dibdnow9c7btw3t3r7xhs4gees9ii5no8tzywp35c
200
length of dataframe:  2599

,created_at,id,text,author_id
0,2021-02-23T08:20:41.000Z,1364128031434887170,@PeterSchiff üçÜ,44196397
1,2021-02-23T08:18:12.000Z,1364127406689193986,@PPathole Super cool,44196397
2,2021-02-22T23:25:09.000Z,1363993259756945410,@jgrano305 @AustinTeslaClub We have too much p...,44196397
3,2021-02-22T20:22:10.000Z,1363947211277496320,@TechAmazing @UniverCurious Tunnels!!,44196397
4,2021-02-22T20:21:15.000Z,1363946979005399040,@JantieWillie @Adamklotz_ @AustinTeslaClub Hop...,44196397
...,...,...,...,...
95,2020-05-17T19:04:35.000Z,1262096693719265280,@CMoiClem_ @PPathole Maybe today if we‚Äôre lucky,44196397
96,2020-05-17T19:03:25.000Z,1262096399920857089,@PPathole One of my fav Matrix memes ü§£ü§£,44196397
97,2020-05-17T18:28:18.000Z,1262087566024564736,When u take DayQuil &amp; NyQuil at same time ...,44196397
98,2020-05-17T17:44:14.000Z,1262076474565242880,Take the red pill üåπ,44196397
99,2020-05-17T17:43:43.000Z,1262076346588524544,"@bluemoondance74 @jeff_foust Pretty good, how ...",44196397

-----------
nextToken token:  7140dibdnow9c7btw3t3qx9kf3rgrpmpl4xgvz0c3w4z8
200
length of dataframe:  2699

,created_at,id,text,author_id
0,2021-02-23T08:20:41.000Z,1364128031434887170,@PeterSchiff üçÜ,44196397
1,2021-02-23T08:18:12.000Z,1364127406689193986,@PPathole Super cool,44196397
2,2021-02-22T23:25:09.000Z,1363993259756945410,@jgrano305 @AustinTeslaClub We have too much p...,44196397
3,2021-02-22T20:22:10.000Z,1363947211277496320,@TechAmazing @UniverCurious Tunnels!!,44196397
4,2021-02-22T20:21:15.000Z,1363946979005399040,@JantieWillie @Adamklotz_ @AustinTeslaClub Hop...,44196397
...,...,...,...,...
95,2020-05-11T21:50:40.000Z,1259964164396601345,"RT @elonmusk: @ChillMichelle @Tesla Yes, Calif...",44196397
96,2020-05-11T20:36:52.000Z,1259945593805221891,Tesla is restarting production today against A...,44196397
97,2020-05-11T20:23:55.000Z,1259942334143148033,"@ChillMichelle @Tesla Yes, California approved...",44196397
98,2020-05-11T20:13:47.000Z,1259939781556887552,@thirdrowtesla @GavinNewsom Thank you Governor...,44196397
99,2020-05-11T17:37:41.000Z,1259900500285116416,@eBookBooster Zork with AI dungeon master,44196397

-----------
nextToken token:  7140dibdnow9c7btw3t3c6neck86kj04hdp40sf0n84s6
200
length of dataframe:  2799

,created_at,id,text,author_id
0,2021-02-23T08:20:41.000Z,1364128031434887170,@PeterSchiff üçÜ,44196397
1,2021-02-23T08:18:12.000Z,1364127406689193986,@PPathole Super cool,44196397
2,2021-02-22T23:25:09.000Z,1363993259756945410,@jgrano305 @AustinTeslaClub We have too much p...,44196397
3,2021-02-22T20:22:10.000Z,1363947211277496320,@TechAmazing @UniverCurious Tunnels!!,44196397
4,2021-02-22T20:21:15.000Z,1363946979005399040,@JantieWillie @Adamklotz_ @AustinTeslaClub Hop...,44196397
...,...,...,...,...
95,2020-05-06T23:53:49.000Z,1258183216843730945,@BBCScienceNews Yes,44196397
96,2020-05-06T16:19:17.000Z,1258068831123107840,@InSpaceXItrust @Space_Station @Tesla @SpaceX ...,44196397
97,2020-05-06T14:45:41.000Z,1258045273470713863,@Grimezsz U r a powerful üßö‚Äç‚ôÄÔ∏èüë∏,44196397
98,2020-05-06T08:04:27.000Z,1257944302543491074,Wishing good vibes for all in 2nd half 2020,44196397
99,2020-05-06T07:40:34.000Z,1257938292579815424,@28delayslater @PPathole @truth_tesla @flabell...,44196397

-----------
nextToken token:  7140dibdnow9c7btw3t3c2dy6hvlccz61iejh4ieoqp84
200
length of dataframe:  2899

,created_at,id,text,author_id
0,2021-02-23T08:20:41.000Z,1364128031434887170,@PeterSchiff üçÜ,44196397
1,2021-02-23T08:18:12.000Z,1364127406689193986,@PPathole Super cool,44196397
2,2021-02-22T23:25:09.000Z,1363993259756945410,@jgrano305 @AustinTeslaClub We have too much p...,44196397
3,2021-02-22T20:22:10.000Z,1363947211277496320,@TechAmazing @UniverCurious Tunnels!!,44196397
4,2021-02-22T20:21:15.000Z,1363946979005399040,@JantieWillie @Adamklotz_ @AustinTeslaClub Hop...,44196397
...,...,...,...,...
95,2020-05-01T15:15:13.000Z,1256240766600409088,Now give people back their FREEDOM,44196397
96,2020-05-01T15:11:26.000Z,1256239815256797184,Tesla stock price is too high imo,44196397
97,2020-05-01T15:10:24.000Z,1256239554148724737,I am selling almost all physical possessions. ...,44196397
98,2020-05-01T14:32:36.000Z,1256230042780291072,@PPathole @AP4Liberty Incentives matter,44196397
99,2020-05-01T14:19:34.000Z,1256226763123953668,@SciGuySpace Starship is making good progress,44196397

-----------
nextToken token:  7140dibdnow9c7btw3t3c074gn8wuszs4l0yixsutdpa0
200
length of dataframe:  2999

,created_at,id,text,author_id
0,2021-02-23T08:20:41.000Z,1364128031434887170,@PeterSchiff üçÜ,44196397
1,2021-02-23T08:18:12.000Z,1364127406689193986,@PPathole Super cool,44196397
2,2021-02-22T23:25:09.000Z,1363993259756945410,@jgrano305 @AustinTeslaClub We have too much p...,44196397
3,2021-02-22T20:22:10.000Z,1363947211277496320,@TechAmazing @UniverCurious Tunnels!!,44196397
4,2021-02-22T20:21:15.000Z,1363946979005399040,@JantieWillie @Adamklotz_ @AustinTeslaClub Hop...,44196397
...,...,...,...,...
95,2020-04-25T00:08:32.000Z,1253838268187185158,@Kristennetten @PPathole @alexanderbittan @she...,44196397
96,2020-04-25T00:06:33.000Z,1253837768737898496,@PPathole @alexanderbittan @shelbiestrykers No...,44196397
97,2020-04-25T00:03:55.000Z,1253837102535659522,@RenataKonkoly Yes,44196397
98,2020-04-25T00:01:50.000Z,1253836581485580292,@alexanderbittan @shelbiestrykers Yes,44196397
99,2020-04-24T23:56:01.000Z,1253835118206242817,@shelbiestrykers I agree,44196397

-----------
nextToken token:  7140dibdnow9c7btw3t3btuqsq0ncyz2l2m6e8qk552k7
200
length of dataframe:  3099

,created_at,id,text,author_id
0,2021-02-23T08:20:41.000Z,1364128031434887170,@PeterSchiff üçÜ,44196397
1,2021-02-23T08:18:12.000Z,1364127406689193986,@PPathole Super cool,44196397
2,2021-02-22T23:25:09.000Z,1363993259756945410,@jgrano305 @AustinTeslaClub We have too much p...,44196397
3,2021-02-22T20:22:10.000Z,1363947211277496320,@TechAmazing @UniverCurious Tunnels!!,44196397
4,2021-02-22T20:21:15.000Z,1363946979005399040,@JantieWillie @Adamklotz_ @AustinTeslaClub Hop...,44196397
...,...,...,...,...
95,2020-04-18T05:46:25.000Z,1251386583846023171,@tobyliiiiiiiiii @MichaelCanary02 @Erdayastron...,44196397
96,2020-04-18T05:43:46.000Z,1251385914137260032,@bluemoondance74 @MichaelCanary02 @Erdayastron...,44196397
97,2020-04-18T05:39:28.000Z,1251384834129158145,@MichaelCanary02 @Erdayastronaut @dwesterster ...,44196397
98,2020-04-18T05:37:25.000Z,1251384318821195778,@PPathole @xkcdComic ü§£ü§£,44196397
99,2020-04-18T05:36:27.000Z,1251384072967827458,"@Erdayastronaut @dwesterster Similar, but seem...",44196397

-----------
nextToken token:  7140dibdnow9c7btw3t3bpjsri4c771xf08zghc9fnw3c
200
length of dataframe:  3199

,created_at,id,text,author_id
0,2021-02-23T08:20:41.000Z,1364128031434887170,@PeterSchiff üçÜ,44196397
1,2021-02-23T08:18:12.000Z,1364127406689193986,@PPathole Super cool,44196397
2,2021-02-22T23:25:09.000Z,1363993259756945410,@jgrano305 @AustinTeslaClub We have too much p...,44196397
3,2021-02-22T20:22:10.000Z,1363947211277496320,@TechAmazing @UniverCurious Tunnels!!,44196397
4,2021-02-22T20:21:15.000Z,1363946979005399040,@JantieWillie @Adamklotz_ @AustinTeslaClub Hop...,44196397
...,...,...,...,...
95,2020-04-11T14:03:06.000Z,1248974861227233282,@Darkellysio @katlinegrey @Zvezdichko @SciGuyS...,44196397
96,2020-04-11T13:55:34.000Z,1248972963996729344,"@katlinegrey @Zvezdichko @SciGuySpace Strange,...",44196397
97,2020-04-11T13:42:04.000Z,1248969566748893184,@cleantechnica A lot has happened in 8 years,44196397
98,2020-04-11T07:12:23.000Z,1248871502977564672,@AbiyAhmedAli @Tesla Good talking to you too. ...,44196397
99,2020-04-11T06:45:17.000Z,1248864681894305797,"@SciGuySpace SpaceX rockets are 80% reusable, ...",44196397

-----------
nextToken token:  7140dibdnow9c7btw3t2wywfqvhcgw915q9irghpkualz
200
length of dataframe:  3206

,created_at,id,text,author_id
0,2021-02-23T08:20:41.000Z,1364128031434887170,@PeterSchiff üçÜ,44196397
1,2021-02-23T08:18:12.000Z,1364127406689193986,@PPathole Super cool,44196397
2,2021-02-22T23:25:09.000Z,1363993259756945410,@jgrano305 @AustinTeslaClub We have too much p...,44196397
3,2021-02-22T20:22:10.000Z,1363947211277496320,@TechAmazing @UniverCurious Tunnels!!,44196397
4,2021-02-22T20:21:15.000Z,1363946979005399040,@JantieWillie @Adamklotz_ @AustinTeslaClub Hop...,44196397
...,...,...,...,...
2,2020-04-10T07:42:17.000Z,1248516638284095489,@nichegamer ü§£ü§£,44196397
3,2020-04-10T07:39:10.000Z,1248515852653211648,But actually https://t.co/jlowaHobXO,44196397
4,2020-04-10T00:23:11.000Z,1248406132957167621,@arvnp @Jamie_Woodward_ The Standard Model is ...,44196397
5,2020-04-10T00:04:04.000Z,1248401323587825667,@Jamie_Woodward_ ‚Ä¶ is bs,44196397
6,2020-04-09T22:58:40.000Z,1248384865872928772,@Jamie_Woodward_ String theory,44196397

,created_at,id,text,author_id
0,2021-02-23T08:20:41.000Z,1364128031434887170,@PeterSchiff üçÜ,44196397
1,2021-02-23T08:18:12.000Z,1364127406689193986,@PPathole Super cool,44196397
2,2021-02-22T23:25:09.000Z,1363993259756945410,@jgrano305 @AustinTeslaClub We have too much p...,44196397
3,2021-02-22T20:22:10.000Z,1363947211277496320,@TechAmazing @UniverCurious Tunnels!!,44196397
4,2021-02-22T20:21:15.000Z,1363946979005399040,@JantieWillie @Adamklotz_ @AustinTeslaClub Hop...,44196397
...,...,...,...,...
2,2020-04-10T07:42:17.000Z,1248516638284095489,@nichegamer ü§£ü§£,44196397
3,2020-04-10T07:39:10.000Z,1248515852653211648,But actually https://t.co/jlowaHobXO,44196397
4,2020-04-10T00:23:11.000Z,1248406132957167621,@arvnp @Jamie_Woodward_ The Standard Model is ...,44196397
5,2020-04-10T00:04:04.000Z,1248401323587825667,@Jamie_Woodward_ ‚Ä¶ is bs,44196397
6,2020-04-09T22:58:40.000Z,1248384865872928772,@Jamie_Woodward_ String theory,44196397

3206

In [13]:
len(tdf)

3206

In [14]:
finalfile =  'TWEETDUMP/twitter_elon_all_df'
picklefile = open(finalfile,'wb')
pickle.dump(tdf, picklefile)

In [15]:
# test opening
twit_test = pd.read_pickle('TWEETDUMP/twitter_elon_all_df')

In [16]:
twit_test.head()

,created_at,id,text,author_id
0,2021-02-23T08:20:41.000Z,1364128031434887170,@PeterSchiff üçÜ,44196397
1,2021-02-23T08:18:12.000Z,1364127406689193986,@PPathole Super cool,44196397
2,2021-02-22T23:25:09.000Z,1363993259756945410,@jgrano305 @AustinTeslaClub We have too much p...,44196397
3,2021-02-22T20:22:10.000Z,1363947211277496320,@TechAmazing @UniverCurious Tunnels!!,44196397
4,2021-02-22T20:21:15.000Z,1363946979005399040,@JantieWillie @Adamklotz_ @AustinTeslaClub Hop...,44196397

In [17]:
len(twit_test)

3206

In [18]:
# get mark cuban
tdf_mc = getUserTweets(userid2)

200
length of dataframe:  100

,created_at,text,author_id,id
0,2021-02-23T08:20:41.000Z,@PeterSchiff üçÜ,44196397,1364128031434887170
1,2021-02-23T08:18:12.000Z,@PPathole Super cool,44196397,1364127406689193986
2,2021-02-22T23:25:09.000Z,@jgrano305 @AustinTeslaClub We have too much p...,44196397,1363993259756945410
3,2021-02-22T20:22:10.000Z,@TechAmazing @UniverCurious Tunnels!!,44196397,1363947211277496320
4,2021-02-22T20:21:15.000Z,@JantieWillie @Adamklotz_ @AustinTeslaClub Hop...,44196397,1363946979005399040
...,...,...,...,...
95,2021-02-09T02:22:44.000Z,@Adamklotz_ It‚Äôs meant to be the same price in...,44196397,1358964520522162176
96,2021-02-09T00:11:09.000Z,"@tobyliiiiiiiiii This is intended for Earth, b...",44196397,1358931403665117184
97,2021-02-09T00:09:50.000Z,@CryptoShrikar @CoinDesk @Tesla @Dan_Z_Palmer ü§£ü§£,44196397,1358931075880284164
98,2021-02-09T00:08:40.000Z,XPrize team will manage the $100M carbon captu...,44196397,1358930781314322433
99,2021-02-09T00:02:03.000Z,@SRuhle Everyone at Tesla receives stock. \n\n...,44196397,1358929114166485008

-----------
nextToken token:  7140dibdnow9c7btw3w340jvcj9fwzrwqlq0xzr5xqed4
200
length of dataframe:  200

,created_at,text,author_id,id
0,2021-02-23T08:20:41.000Z,@PeterSchiff üçÜ,44196397,1364128031434887170
1,2021-02-23T08:18:12.000Z,@PPathole Super cool,44196397,1364127406689193986
2,2021-02-22T23:25:09.000Z,@jgrano305 @AustinTeslaClub We have too much p...,44196397,1363993259756945410
3,2021-02-22T20:22:10.000Z,@TechAmazing @UniverCurious Tunnels!!,44196397,1363947211277496320
4,2021-02-22T20:21:15.000Z,@JantieWillie @Adamklotz_ @AustinTeslaClub Hop...,44196397,1363946979005399040
...,...,...,...,...
95,2021-01-29T20:44:02.000Z,Starship SN9 &amp; SN10 https://t.co/urtPJn7amo,44196397,1355255403945332737
96,2021-01-29T08:22:15.000Z,"In retrospect, it was inevitable",44196397,1355068728128516101
97,2021-01-29T05:16:04.000Z,@RGVaerialphotos Great shot,44196397,1355021874850394114
98,2021-01-29T00:47:33.000Z,"@its_menieb Live by the sword, die by the sword",44196397,1354954300041080835
99,2021-01-29T00:37:24.000Z,@lexfridman Entropy,44196397,1354951746305585152

-----------
nextToken token:  7140dibdnow9c7btw3w33s0yvpl17r209ep20gcwgp4xe
200
length of dataframe:  300

,created_at,text,author_id,id
0,2021-02-23T08:20:41.000Z,@PeterSchiff üçÜ,44196397,1364128031434887170
1,2021-02-23T08:18:12.000Z,@PPathole Super cool,44196397,1364127406689193986
2,2021-02-22T23:25:09.000Z,@jgrano305 @AustinTeslaClub We have too much p...,44196397,1363993259756945410
3,2021-02-22T20:22:10.000Z,@TechAmazing @UniverCurious Tunnels!!,44196397,1363947211277496320
4,2021-02-22T20:21:15.000Z,@JantieWillie @Adamklotz_ @AustinTeslaClub Hop...,44196397,1363946979005399040
...,...,...,...,...
95,2021-01-17T21:22:05.000Z,@teslaownersSV This is a good one,44196397,1350916326165008396
96,2021-01-16T22:55:49.000Z,@MrBeastYT I whistle,44196397,1350577525769043979
97,2021-01-16T01:31:57.000Z,@DMC_Ryan @C_R_H_M @Tesla Cybertruck doesn‚Äôt n...,44196397,1350254430512361474
98,2021-01-16T01:29:50.000Z,@DMC_Ryan @Tesla It will be awesome,44196397,1350253896267083776
99,2021-01-16T01:28:33.000Z,@owenshift Good point,44196397,1350253575344152583

-----------
nextToken token:  7140dibdnow9c7btw3w33jfyreji0nzm80t6ie9tfwier
200
length of dataframe:  400

,created_at,text,author_id,id
0,2021-02-23T08:20:41.000Z,@PeterSchiff üçÜ,44196397,1364128031434887170
1,2021-02-23T08:18:12.000Z,@PPathole Super cool,44196397,1364127406689193986
2,2021-02-22T23:25:09.000Z,@jgrano305 @AustinTeslaClub We have too much p...,44196397,1363993259756945410
3,2021-02-22T20:22:10.000Z,@TechAmazing @UniverCurious Tunnels!!,44196397,1363947211277496320
4,2021-02-22T20:21:15.000Z,@JantieWillie @Adamklotz_ @AustinTeslaClub Hop...,44196397,1363946979005399040
...,...,...,...,...
95,2021-01-04T20:57:05.000Z,"Because of the large footprint, it may seem fl...",44196397,1346198993307631617
96,2021-01-04T20:26:11.000Z,Snow falling on Giga Berlin https://t.co/eTXMt...,44196397,1346191214769557505
97,2021-01-03T00:04:01.000Z,@RGVaerialphotos @SpaceX Yes,44196397,1345521261246496769
98,2021-01-02T15:07:58.000Z,@Gfilche üòâ,44196397,1345386356504027136
99,2021-01-02T14:59:09.000Z,@flcnhvy Tesla is responsible for 2/3 of all t...,44196397,1345384139969552389

-----------
nextToken token:  7140dibdnow9c7btw3w2oohyhzss7r017vcjzqy33t73t
200
length of dataframe:  500

,created_at,text,author_id,id
0,2021-02-23T08:20:41.000Z,@PeterSchiff üçÜ,44196397,1364128031434887170
1,2021-02-23T08:18:12.000Z,@PPathole Super cool,44196397,1364127406689193986
2,2021-02-22T23:25:09.000Z,@jgrano305 @AustinTeslaClub We have too much p...,44196397,1363993259756945410
3,2021-02-22T20:22:10.000Z,@TechAmazing @UniverCurious Tunnels!!,44196397,1363947211277496320
4,2021-02-22T20:21:15.000Z,@JantieWillie @Adamklotz_ @AustinTeslaClub Hop...,44196397,1363946979005399040
...,...,...,...,...
95,2020-12-21T13:04:16.000Z,Thanks to everyone who worked so hard to make ...,44196397,1341006575650140161
96,2020-12-21T13:02:48.000Z,@teslaownerssv Indeed,44196397,1341006203275669505
97,2020-12-21T11:21:24.000Z,@Kristennetten It was a seriously twisted affa...,44196397,1340980684366737409
98,2020-12-21T11:13:27.000Z,"@MKBHD They are, although it‚Äôs kind low-key. T...",44196397,1340978686212800513
99,2020-12-20T21:31:49.000Z,RT @SpaceX: Photos from yesterday‚Äôs launch and...,44196397,1340771916156690434

-----------
nextToken token:  7140dibdnow9c7btw3w2odvivi8ks77y3kwnw8xaw9a2c
200
length of dataframe:  600

,created_at,text,author_id,id
0,2021-02-23T08:20:41.000Z,@PeterSchiff üçÜ,44196397,1364128031434887170
1,2021-02-23T08:18:12.000Z,@PPathole Super cool,44196397,1364127406689193986
2,2021-02-22T23:25:09.000Z,@jgrano305 @AustinTeslaClub We have too much p...,44196397,1363993259756945410
3,2021-02-22T20:22:10.000Z,@TechAmazing @UniverCurious Tunnels!!,44196397,1363947211277496320
4,2021-02-22T20:21:15.000Z,@JantieWillie @Adamklotz_ @AustinTeslaClub Hop...,44196397,1363946979005399040
...,...,...,...,...
95,2020-12-05T22:06:01.000Z,@haya2e_jaxa Congratulations!,44196397,1335344701516390401
96,2020-12-05T09:56:35.000Z,"@RDAnglePhoto @SpaceX @Teslarati Yes, it does.",44196397,1335161134932840451
97,2020-12-04T08:57:05.000Z,RT @boringcompany: Tunnel Rave https://t.co/d3...,44196397,1334783772856750081
98,2020-12-03T23:40:23.000Z,@RationalEtienne And no toilet paper ü§£ü§£,44196397,1334643674823712768
99,2020-12-03T23:30:34.000Z,Watch Demolition Man,44196397,1334641206580682752

-----------
nextToken token:  7140dibdnow9c7btw3w29gs6msu18ktsc7xbxl5wvt06q
200
length of dataframe:  700

,created_at,text,author_id,id
0,2021-02-23T08:20:41.000Z,@PeterSchiff üçÜ,44196397,1364128031434887170
1,2021-02-23T08:18:12.000Z,@PPathole Super cool,44196397,1364127406689193986
2,2021-02-22T23:25:09.000Z,@jgrano305 @AustinTeslaClub We have too much p...,44196397,1363993259756945410
3,2021-02-22T20:22:10.000Z,@TechAmazing @UniverCurious Tunnels!!,44196397,1363947211277496320
4,2021-02-22T20:21:15.000Z,@JantieWillie @Adamklotz_ @AustinTeslaClub Hop...,44196397,1363946979005399040
...,...,...,...,...
95,2020-11-19T05:24:26.000Z,@westcoastbill @SpaceX 13 years &amp; $11 bill...,44196397,1329294442117951488
96,2020-11-19T03:31:56.000Z,@OwenSparks_ @flcnhvy @Tesla Safety is our pri...,44196397,1329266129949380608
97,2020-11-19T01:22:22.000Z,@PPathole @AstroJordy @flcnhvy Fully,44196397,1329233524528967681
98,2020-11-18T23:47:04.000Z,@Astronomiaum Let the Martians decide their ow...,44196397,1329209538956898306
99,2020-11-18T23:34:26.000Z,@shifthappends @Tesla A lot of my brain space ...,44196397,1329206361469710336

-----------
nextToken token:  7140dibdnow9c7btw3w1ulso4npu4l8if01igl6ymxnhy
200
length of dataframe:  800

,created_at,text,author_id,id
0,2021-02-23T08:20:41.000Z,@PeterSchiff üçÜ,44196397,1364128031434887170
1,2021-02-23T08:18:12.000Z,@PPathole Super cool,44196397,1364127406689193986
2,2021-02-22T23:25:09.000Z,@jgrano305 @AustinTeslaClub We have too much p...,44196397,1363993259756945410
3,2021-02-22T20:22:10.000Z,@TechAmazing @UniverCurious Tunnels!!,44196397,1363947211277496320
4,2021-02-22T20:21:15.000Z,@JantieWillie @Adamklotz_ @AustinTeslaClub Hop...,44196397,1363946979005399040
...,...,...,...,...
95,2020-11-14T06:33:48.000Z,@slashdot Feels that way,44196397,1327499959877263360
96,2020-11-14T06:24:19.000Z,@WhatsupFranks @bluemoondance74 @StephenKing T...,44196397,1327497570730397696
97,2020-11-14T06:11:36.000Z,@bluemoondance74 @StephenKing Cold symptoms ar...,44196397,1327494369553760256
98,2020-11-14T05:00:38.000Z,@StephenKing There are degrees of pos,44196397,1327476513227214854
99,2020-11-14T00:43:52.000Z,@MrSammy_H @pelagicbird @max_roi @rossy65 Hene...,44196397,1327411896471875584

-----------
nextToken token:  7140dibdnow9c7btw3w1uhjtgc3slqlgnrwvzwer6po38
200
length of dataframe:  900

,created_at,text,author_id,id
0,2021-02-23T08:20:41.000Z,@PeterSchiff üçÜ,44196397,1364128031434887170
1,2021-02-23T08:18:12.000Z,@PPathole Super cool,44196397,1364127406689193986
2,2021-02-22T23:25:09.000Z,@jgrano305 @AustinTeslaClub We have too much p...,44196397,1363993259756945410
3,2021-02-22T20:22:10.000Z,@TechAmazing @UniverCurious Tunnels!!,44196397,1363947211277496320
4,2021-02-22T20:21:15.000Z,@JantieWillie @Adamklotz_ @AustinTeslaClub Hop...,44196397,1363946979005399040
...,...,...,...,...
95,2020-11-03T01:10:20.000Z,@josh_bickett @PPathole Yes,44196397,1323432289947262982
96,2020-11-03T01:05:28.000Z,"@PPathole Lowering Starlink terminal cost, whi...",44196397,1323431066158452736
97,2020-11-03T01:02:59.000Z,@itshamzahkhan As soon as we get regulatory ap...,44196397,1323430438577328128
98,2020-11-03T01:01:50.000Z,"@thesheetztweetz Right now, it takes about 5 m...",44196397,1323430150034382848
99,2020-11-02T20:26:20.000Z,@kjell_arne @flcnhvy Canada and Norway are nex...,44196397,1323360818336092167

-----------
nextToken token:  7140dibdnow9c7btw3w1u90ma5saxhhznrt3rsq4283lj
200
length of dataframe:  1000

,created_at,text,author_id,id
0,2021-02-23T08:20:41.000Z,@PeterSchiff üçÜ,44196397,1364128031434887170
1,2021-02-23T08:18:12.000Z,@PPathole Super cool,44196397,1364127406689193986
2,2021-02-22T23:25:09.000Z,@jgrano305 @AustinTeslaClub We have too much p...,44196397,1363993259756945410
3,2021-02-22T20:22:10.000Z,@TechAmazing @UniverCurious Tunnels!!,44196397,1363947211277496320
4,2021-02-22T20:21:15.000Z,@JantieWillie @Adamklotz_ @AustinTeslaClub Hop...,44196397,1363946979005399040
...,...,...,...,...
95,2020-10-22T00:40:52.000Z,@Teslarati Dependent on proving high safety,44196397,1319076218038145024
96,2020-10-21T23:33:40.000Z,@WholeMarsBlog Not intentional! We just wanted...,44196397,1319059307804045316
97,2020-10-21T23:26:22.000Z,"@Erdayastronaut Cold gas for now, hot later",44196397,1319057472045264896
98,2020-10-21T20:16:21.000Z,"@Rubix161 I mean, ya gotta have a tiki bar ‚Ä¶",44196397,1319009651694993409
99,2020-10-21T20:13:20.000Z,"Starship nosecone, high bay &amp; tiki bar htt...",44196397,1319008891817132032

-----------
nextToken token:  7140dibdnow9c7btw3w1fg64mredtxdt3jvqff5do9fle
200
length of dataframe:  1100

,created_at,text,author_id,id
0,2021-02-23T08:20:41.000Z,@PeterSchiff üçÜ,44196397,1364128031434887170
1,2021-02-23T08:18:12.000Z,@PPathole Super cool,44196397,1364127406689193986
2,2021-02-22T23:25:09.000Z,@jgrano305 @AustinTeslaClub We have too much p...,44196397,1363993259756945410
3,2021-02-22T20:22:10.000Z,@TechAmazing @UniverCurious Tunnels!!,44196397,1363947211277496320
4,2021-02-22T20:21:15.000Z,@JantieWillie @Adamklotz_ @AustinTeslaClub Hop...,44196397,1363946979005399040
...,...,...,...,...
95,2020-10-09T22:11:28.000Z,@Neopork85 @Caspar_Stanley @ErcXspace @MarcusH...,44196397,1314689966870425605
96,2020-10-09T20:38:19.000Z,@ID_AA_Carmack Compilers need to improve imo. ...,44196397,1314666526297923585
97,2020-10-09T09:07:07.000Z,@RGVaerialphotos @SpaceX I‚Äôm proud to say that...,44196397,1314492577383698434
98,2020-10-09T07:14:43.000Z,RT @MotorTrend: We put the 2020 @Tesla Model Y...,44196397,1314464290552807425
99,2020-10-09T07:07:13.000Z,@SDG2030 @anandmahindra @MetniGeorges @ErikSol...,44196397,1314462406614093825

-----------
nextToken token:  7140dibdnow9c7btw3w1f5jpavjno9b11jhms3l8uwi7p
200
length of dataframe:  1200

,created_at,text,author_id,id
0,2021-02-23T08:20:41.000Z,@PeterSchiff üçÜ,44196397,1364128031434887170
1,2021-02-23T08:18:12.000Z,@PPathole Super cool,44196397,1364127406689193986
2,2021-02-22T23:25:09.000Z,@jgrano305 @AustinTeslaClub We have too much p...,44196397,1363993259756945410
3,2021-02-22T20:22:10.000Z,@TechAmazing @UniverCurious Tunnels!!,44196397,1363947211277496320
4,2021-02-22T20:21:15.000Z,@JantieWillie @Adamklotz_ @AustinTeslaClub Hop...,44196397,1363946979005399040
...,...,...,...,...
95,2020-10-02T05:54:55.000Z,@PPathole @Erdayastronaut @NASASpaceflight @Bo...,44196397,1311907493182926849
96,2020-10-02T05:45:44.000Z,@thesheetztweetz @waEMD @SpaceX @SpaceXStarlin...,44196397,1311905182230491137
97,2020-10-02T04:11:52.000Z,@WholeMarsBlog @MKBHD Yeah,44196397,1311881562728747010
98,2020-10-02T04:08:56.000Z,@AdlanBogatyryov @Erdayastronaut @NASASpacefli...,44196397,1311880821377175552
99,2020-10-02T04:02:01.000Z,@Erdayastronaut @NASASpaceflight @BocaChicaGal...,44196397,1311879083379224577

-----------
nextToken token:  7140dibdnow9c7btw3w1ez6q259x03h1gv0zw014mgiev
200
length of dataframe:  1300

,created_at,text,author_id,id
0,2021-02-23T08:20:41.000Z,@PeterSchiff üçÜ,44196397,1364128031434887170
1,2021-02-23T08:18:12.000Z,@PPathole Super cool,44196397,1364127406689193986
2,2021-02-22T23:25:09.000Z,@jgrano305 @AustinTeslaClub We have too much p...,44196397,1363993259756945410
3,2021-02-22T20:22:10.000Z,@TechAmazing @UniverCurious Tunnels!!,44196397,1363947211277496320
4,2021-02-22T20:21:15.000Z,@JantieWillie @Adamklotz_ @AustinTeslaClub Hop...,44196397,1363946979005399040
...,...,...,...,...
95,2020-09-22T21:00:10.000Z,RT @CARandDRIVER: We drove a Model S Long Rang...,44196397,1308511431378124800
96,2020-09-22T05:56:48.000Z,The extreme difficulty of scaling production o...,44196397,1308284091142266881
97,2020-09-22T00:27:40.000Z,@NASASpaceflight @BocaChicaGal Haha,44196397,1308201260722524160
98,2020-09-21T21:00:46.000Z,"We intend to increase, not reduce battery cell...",44196397,1308149191684710400
99,2020-09-21T20:56:52.000Z,Important note about Tesla Battery Day unveil ...,44196397,1308148212876812289

-----------
nextToken token:  7140dibdnow9c7btw3w108frivarxfy6t01rsy05qv4u1
200
length of dataframe:  1400

,created_at,text,author_id,id
0,2021-02-23T08:20:41.000Z,@PeterSchiff üçÜ,44196397,1364128031434887170
1,2021-02-23T08:18:12.000Z,@PPathole Super cool,44196397,1364127406689193986
2,2021-02-22T23:25:09.000Z,@jgrano305 @AustinTeslaClub We have too much p...,44196397,1363993259756945410
3,2021-02-22T20:22:10.000Z,@TechAmazing @UniverCurious Tunnels!!,44196397,1363947211277496320
4,2021-02-22T20:21:15.000Z,@JantieWillie @Adamklotz_ @AustinTeslaClub Hop...,44196397,1363946979005399040
...,...,...,...,...
95,2020-09-10T05:43:58.000Z,@wintonARK True,44196397,1303932208235917312
96,2020-09-10T03:26:59.000Z,@DisruptResearch Tesla is best understood as a...,44196397,1303897732487274497
97,2020-09-10T03:12:44.000Z,@DisruptResearch Tesla R&amp;D productivity is...,44196397,1303894146919403521
98,2020-09-09T21:09:06.000Z,Tesla Model S &amp; X have hospital-grade (HEP...,44196397,1303802636827799555
99,2020-09-09T20:31:54.000Z,@Klee_FilmReview !,44196397,1303793275141316608

-----------
nextToken token:  7140dibdnow9c7btw3w0zxtxqbsfg950e8b6dnzie5hyw
200
length of dataframe:  1500

,created_at,text,author_id,id
0,2021-02-23T08:20:41.000Z,@PeterSchiff üçÜ,44196397,1364128031434887170
1,2021-02-23T08:18:12.000Z,@PPathole Super cool,44196397,1364127406689193986
2,2021-02-22T23:25:09.000Z,@jgrano305 @AustinTeslaClub We have too much p...,44196397,1363993259756945410
3,2021-02-22T20:22:10.000Z,@TechAmazing @UniverCurious Tunnels!!,44196397,1363947211277496320
4,2021-02-22T20:21:15.000Z,@JantieWillie @Adamklotz_ @AustinTeslaClub Hop...,44196397,1363946979005399040
...,...,...,...,...
95,2020-08-28T02:44:17.000Z,@GerberKawasaki @Tesla Thanks to a smart and h...,44196397,1299175947174780929
96,2020-08-27T22:03:29.000Z,@Teslarati Much appreciated. This was a seriou...,44196397,1299105277485088768
97,2020-08-27T17:16:39.000Z,@thejackbeyer @NASASpaceflight Brave Starhoppe...,44196397,1299033095438340096
98,2020-08-27T07:15:06.000Z,@ItMotivatesUs Only so many days @waitbutwhy h...,44196397,1298881709262462976
99,2020-08-27T07:08:19.000Z,@WholeMarsBlog We were too obtuse for our own ...,44196397,1298880004332412929

-----------
nextToken token:  7140dibdnow9c7btw3t50qy5f5v5b7ozpdeohz3fr6k3d
200
length of dataframe:  1600

,created_at,text,author_id,id
0,2021-02-23T08:20:41.000Z,@PeterSchiff üçÜ,44196397,1364128031434887170
1,2021-02-23T08:18:12.000Z,@PPathole Super cool,44196397,1364127406689193986
2,2021-02-22T23:25:09.000Z,@jgrano305 @AustinTeslaClub We have too much p...,44196397,1363993259756945410
3,2021-02-22T20:22:10.000Z,@TechAmazing @UniverCurious Tunnels!!,44196397,1363947211277496320
4,2021-02-22T20:21:15.000Z,@JantieWillie @Adamklotz_ @AustinTeslaClub Hop...,44196397,1363946979005399040
...,...,...,...,...
95,2020-08-17T23:13:16.000Z,@NASASpaceflight SN40 is about to be tested &a...,44196397,1295498964205068289
96,2020-08-17T23:00:50.000Z,Raptor engine just reached 330 bar chamber pre...,44196397,1295495834998513664
97,2020-08-17T21:32:42.000Z,"@Erdayastronaut Yeah, Starship will be a tiny ...",44196397,1295473654612934656
98,2020-08-17T21:30:33.000Z,@C_Bass3d @Erdayastronaut @NASASpaceflight @Fe...,44196397,1295473111081447424
99,2020-08-17T06:06:05.000Z,@PPathole @universal_sci This might sting a li...,44196397,1295240462798860288

-----------
nextToken token:  7140dibdnow9c7btw3t50ki62j8vdz8stpyslhjl99d88
200
length of dataframe:  1700

,created_at,text,author_id,id
0,2021-02-23T08:20:41.000Z,@PeterSchiff üçÜ,44196397,1364128031434887170
1,2021-02-23T08:18:12.000Z,@PPathole Super cool,44196397,1364127406689193986
2,2021-02-22T23:25:09.000Z,@jgrano305 @AustinTeslaClub We have too much p...,44196397,1363993259756945410
3,2021-02-22T20:22:10.000Z,@TechAmazing @UniverCurious Tunnels!!,44196397,1363947211277496320
4,2021-02-22T20:21:15.000Z,@JantieWillie @Adamklotz_ @AustinTeslaClub Hop...,44196397,1363946979005399040
...,...,...,...,...
95,2020-08-08T19:39:50.000Z,@BernieSanders That bs was pushed by oil &amp;...,44196397,1292183759878463488
96,2020-08-08T19:26:57.000Z,@Siconik1 @WR4NYGov @28delayslater @BernieSand...,44196397,1292180515336777728
97,2020-08-08T19:25:59.000Z,@WR4NYGov @BernieSanders Good analysis. He als...,44196397,1292180273254154241
98,2020-08-08T02:45:16.000Z,@westcoastbill üíØ,44196397,1291928435468587009
99,2020-08-07T21:32:29.000Z,@johnkrausphotos @Erdayastronaut @queue_max @N...,44196397,1291849720973783040

-----------
nextToken token:  7140dibdnow9c7btw3t50c127tkoofpgcxtnlx8ksjpkg
200
length of dataframe:  1800

,created_at,text,author_id,id
0,2021-02-23T08:20:41.000Z,@PeterSchiff üçÜ,44196397,1364128031434887170
1,2021-02-23T08:18:12.000Z,@PPathole Super cool,44196397,1364127406689193986
2,2021-02-22T23:25:09.000Z,@jgrano305 @AustinTeslaClub We have too much p...,44196397,1363993259756945410
3,2021-02-22T20:22:10.000Z,@TechAmazing @UniverCurious Tunnels!!,44196397,1363947211277496320
4,2021-02-22T20:21:15.000Z,@JantieWillie @Adamklotz_ @AustinTeslaClub Hop...,44196397,1363946979005399040
...,...,...,...,...
95,2020-07-30T07:12:22.000Z,I ‚Ä¶ I just died in your arms tonight,44196397,1288734164485898240
96,2020-07-30T06:55:03.000Z,The rumor that Bill Gates &amp; I are lovers i...,44196397,1288729803663843329
97,2020-07-30T06:39:30.000Z,@WholeMarsBlog @PPathole Yeah. Display will al...,44196397,1288725893259698176
98,2020-07-30T06:35:16.000Z,@keith31345919 @PPathole https://t.co/S8mdWgCdFg,44196397,1288724824009977857
99,2020-07-30T06:32:50.000Z,@keith31345919 @PPathole We‚Äôve been working on...,44196397,1288724211767418880

-----------
nextToken token:  7140dibdnow9c7btw3t4llbwgllzlzqya944zkh8xtvzk
200
length of dataframe:  1900

,created_at,text,author_id,id
0,2021-02-23T08:20:41.000Z,@PeterSchiff üçÜ,44196397,1364128031434887170
1,2021-02-23T08:18:12.000Z,@PPathole Super cool,44196397,1364127406689193986
2,2021-02-22T23:25:09.000Z,@jgrano305 @AustinTeslaClub We have too much p...,44196397,1363993259756945410
3,2021-02-22T20:22:10.000Z,@TechAmazing @UniverCurious Tunnels!!,44196397,1363947211277496320
4,2021-02-22T20:21:15.000Z,@JantieWillie @Adamklotz_ @AustinTeslaClub Hop...,44196397,1363946979005399040
...,...,...,...,...
95,2020-07-23T18:00:44.000Z,@Teslarati Retail investors like @hyperchanget...,44196397,1286360612415692802
96,2020-07-23T17:29:13.000Z,"@SciGuySpace Especially for boost stage, which...",44196397,1286352681947344896
97,2020-07-23T17:19:52.000Z,"@waitbutwhy Basically, our pixel size",44196397,1286350331169906690
98,2020-07-23T11:58:14.000Z,@LudaLisl @Tesla Can‚Äôt emphasize this enough,44196397,1286269390107926531
99,2020-07-23T11:57:03.000Z,@tomosman @Tesla Absolutely,44196397,1286269091439955975

-----------
nextToken token:  7140dibdnow9c7btw3t4lh0ydwdbpc7x9g12v821jn6et
200
length of dataframe:  1999

,created_at,text,author_id,id
0,2021-02-23T08:20:41.000Z,@PeterSchiff üçÜ,44196397,1364128031434887170
1,2021-02-23T08:18:12.000Z,@PPathole Super cool,44196397,1364127406689193986
2,2021-02-22T23:25:09.000Z,@jgrano305 @AustinTeslaClub We have too much p...,44196397,1363993259756945410
3,2021-02-22T20:22:10.000Z,@TechAmazing @UniverCurious Tunnels!!,44196397,1363947211277496320
4,2021-02-22T20:21:15.000Z,@JantieWillie @Adamklotz_ @AustinTeslaClub Hop...,44196397,1363946979005399040
...,...,...,...,...
94,2020-07-15T05:39:52.000Z,Giga Berlin https://t.co/UXQMUVTWXf,44196397,1283275066805911552
95,2020-07-15T04:07:58.000Z,@Pontolemaeus @SilverDeGeneral @BBCScienceNews...,44196397,1283251937383550976
96,2020-07-15T04:03:35.000Z,@vincentdiong @GerberKawasaki Considering,44196397,1283250835028185089
97,2020-07-15T03:45:22.000Z,@flcnhvy @SpaceX Small note: latch on post nea...,44196397,1283246252608503808
98,2020-07-15T02:27:10.000Z,@BBCScienceNews https://t.co/xxRXfrQhBs,44196397,1283226569696096263

-----------
nextToken token:  7140dibdnow9c7btw3t4lamrrtd0211hbg52w1f2w0v8z
200
length of dataframe:  2099

,created_at,text,author_id,id
0,2021-02-23T08:20:41.000Z,@PeterSchiff üçÜ,44196397,1364128031434887170
1,2021-02-23T08:18:12.000Z,@PPathole Super cool,44196397,1364127406689193986
2,2021-02-22T23:25:09.000Z,@jgrano305 @AustinTeslaClub We have too much p...,44196397,1363993259756945410
3,2021-02-22T20:22:10.000Z,@TechAmazing @UniverCurious Tunnels!!,44196397,1363947211277496320
4,2021-02-22T20:21:15.000Z,@JantieWillie @Adamklotz_ @AustinTeslaClub Hop...,44196397,1363946979005399040
...,...,...,...,...
95,2020-07-05T20:01:08.000Z,Limited edition short shorts now available at ...,44196397,1279867930289647617
96,2020-07-05T19:56:22.000Z,"@Gfilche Yes haha, we will soon be short of sh...",44196397,1279866732937535488
97,2020-07-05T18:36:26.000Z,@blue_bnd @Kristennetten @flcnhvy @PPathole Ye...,44196397,1279846614723514368
98,2020-07-05T18:33:53.000Z,@spaceguy_24 @teslaownersSV @EvaFoxU @cnunezim...,44196397,1279845976916676608
99,2020-07-05T18:25:34.000Z,@EvaFoxU @cnunezimages Nice haha,44196397,1279843882771963904

-----------
nextToken token:  7140dibdnow9c7btw3t46huzkbzfa3gw537sgd6ca7uic
200
length of dataframe:  2199

,created_at,text,author_id,id
0,2021-02-23T08:20:41.000Z,@PeterSchiff üçÜ,44196397,1364128031434887170
1,2021-02-23T08:18:12.000Z,@PPathole Super cool,44196397,1364127406689193986
2,2021-02-22T23:25:09.000Z,@jgrano305 @AustinTeslaClub We have too much p...,44196397,1363993259756945410
3,2021-02-22T20:22:10.000Z,@TechAmazing @UniverCurious Tunnels!!,44196397,1363947211277496320
4,2021-02-22T20:21:15.000Z,@JantieWillie @Adamklotz_ @AustinTeslaClub Hop...,44196397,1363946979005399040
...,...,...,...,...
95,2020-07-02T17:08:45.000Z,@eugenelee3 @Teslarati I tried to warn them ‚Ä¶ üò¢,44196397,1278737385052942336
96,2020-07-02T17:07:22.000Z,@PPathole @tlowdon @daniellevitt22 Yup,44196397,1278737039517769728
97,2020-07-02T17:06:19.000Z,RT @Teslarati: Tesla crushes Wall Street‚Äôs Q2 ...,44196397,1278736773820997632
98,2020-07-02T17:04:12.000Z,@hot_rod_co Something‚Äôs messed up about medici...,44196397,1278736243199807490
99,2020-07-02T16:49:49.000Z,@hot_rod_co @angie_rasmussen Here‚Äôs one: https...,44196397,1278732624152932352

-----------
nextToken token:  7140dibdnow9c7btw3t46fpyl1t6k4gf46jqodbfm15pu
200
length of dataframe:  2299

,created_at,text,author_id,id
0,2021-02-23T08:20:41.000Z,@PeterSchiff üçÜ,44196397,1364128031434887170
1,2021-02-23T08:18:12.000Z,@PPathole Super cool,44196397,1364127406689193986
2,2021-02-22T23:25:09.000Z,@jgrano305 @AustinTeslaClub We have too much p...,44196397,1363993259756945410
3,2021-02-22T20:22:10.000Z,@TechAmazing @UniverCurious Tunnels!!,44196397,1363947211277496320
4,2021-02-22T20:21:15.000Z,@JantieWillie @Adamklotz_ @AustinTeslaClub Hop...,44196397,1363946979005399040
...,...,...,...,...
95,2020-06-22T03:05:26.000Z,Reminder that Tesla Full Self-Driving (FSD) pr...,44196397,1274901279475564544
96,2020-06-22T03:04:26.000Z,Enabling basic Tesla Autopilot via Tesla in-ap...,44196397,1274901029356593152
97,2020-06-22T01:47:27.000Z,@austinbarnard45 All patched up!,44196397,1274881655468027904
98,2020-06-21T21:41:32.000Z,@PPathole Entirely possible. Social media is a...,44196397,1274819769577828352
99,2020-06-21T15:46:00.000Z,@WBMason Ensure future of Earth &amp; extend l...,44196397,1274730293891461122

-----------
nextToken token:  7140dibdnow9c7btw3t46771zpjbq6vnep93kofxt41ma
200
length of dataframe:  2399

,created_at,text,author_id,id
0,2021-02-23T08:20:41.000Z,@PeterSchiff üçÜ,44196397,1364128031434887170
1,2021-02-23T08:18:12.000Z,@PPathole Super cool,44196397,1364127406689193986
2,2021-02-22T23:25:09.000Z,@jgrano305 @AustinTeslaClub We have too much p...,44196397,1363993259756945410
3,2021-02-22T20:22:10.000Z,@TechAmazing @UniverCurious Tunnels!!,44196397,1363947211277496320
4,2021-02-22T20:21:15.000Z,@JantieWillie @Adamklotz_ @AustinTeslaClub Hop...,44196397,1363946979005399040
...,...,...,...,...
95,2020-06-11T10:05:43.000Z,@justpaulinelol @engineers_feed As foretold by...,44196397,1271020780088750082
96,2020-06-11T10:01:41.000Z,@engineers_feed Stonks,44196397,1271019765138518016
97,2020-06-11T09:49:26.000Z,lol,44196397,1271016684489281536
98,2020-06-11T09:39:54.000Z,@Erdayastronaut @i_gvf @SciGuySpace Exactly. C...,44196397,1271014285402046464
99,2020-06-11T09:32:03.000Z,@tobyliiiiiiiiii @physorg_com @nature @SciRepo...,44196397,1271012307422806018

-----------
nextToken token:  7140dibdnow9c7btw3t460qrxp7nf71gp9tsxbzh8ochk
200
length of dataframe:  2499

,created_at,text,author_id,id
0,2021-02-23T08:20:41.000Z,@PeterSchiff üçÜ,44196397,1364128031434887170
1,2021-02-23T08:18:12.000Z,@PPathole Super cool,44196397,1364127406689193986
2,2021-02-22T23:25:09.000Z,@jgrano305 @AustinTeslaClub We have too much p...,44196397,1363993259756945410
3,2021-02-22T20:22:10.000Z,@TechAmazing @UniverCurious Tunnels!!,44196397,1363947211277496320
4,2021-02-22T20:21:15.000Z,@JantieWillie @Adamklotz_ @AustinTeslaClub Hop...,44196397,1363946979005399040
...,...,...,...,...
95,2020-05-31T18:25:58.000Z,@NASASpaceflight Must be due to relativistic a...,44196397,1267160409498357764
96,2020-05-31T18:14:19.000Z,@NASASpaceflight Brought home by same person w...,44196397,1267157474886455296
97,2020-05-31T18:11:42.000Z,@Rogozin @SpaceX @JimBridenstine @roscosmos @N...,44196397,1267156817295085575
98,2020-05-31T17:31:11.000Z,@SpaceX @NASA @AstroBehnken @Astro_Doug Congra...,44196397,1267146619562201090
99,2020-05-31T16:51:58.000Z,RT @SpaceX: Live webcast of Crew Dragon‚Äôs test...,44196397,1267136749987389440

-----------
nextToken token:  7140dibdnow9c7btw3t3r7xhs4gees9ii5no8tzywp35c
200
length of dataframe:  2599

,created_at,text,author_id,id
0,2021-02-23T08:20:41.000Z,@PeterSchiff üçÜ,44196397,1364128031434887170
1,2021-02-23T08:18:12.000Z,@PPathole Super cool,44196397,1364127406689193986
2,2021-02-22T23:25:09.000Z,@jgrano305 @AustinTeslaClub We have too much p...,44196397,1363993259756945410
3,2021-02-22T20:22:10.000Z,@TechAmazing @UniverCurious Tunnels!!,44196397,1363947211277496320
4,2021-02-22T20:21:15.000Z,@JantieWillie @Adamklotz_ @AustinTeslaClub Hop...,44196397,1363946979005399040
...,...,...,...,...
95,2020-05-17T19:04:35.000Z,@CMoiClem_ @PPathole Maybe today if we‚Äôre lucky,44196397,1262096693719265280
96,2020-05-17T19:03:25.000Z,@PPathole One of my fav Matrix memes ü§£ü§£,44196397,1262096399920857089
97,2020-05-17T18:28:18.000Z,When u take DayQuil &amp; NyQuil at same time ...,44196397,1262087566024564736
98,2020-05-17T17:44:14.000Z,Take the red pill üåπ,44196397,1262076474565242880
99,2020-05-17T17:43:43.000Z,"@bluemoondance74 @jeff_foust Pretty good, how ...",44196397,1262076346588524544

-----------
nextToken token:  7140dibdnow9c7btw3t3qx9kf3rgrpmpl4xgvz0c3w4z8
200
length of dataframe:  2699

,created_at,text,author_id,id
0,2021-02-23T08:20:41.000Z,@PeterSchiff üçÜ,44196397,1364128031434887170
1,2021-02-23T08:18:12.000Z,@PPathole Super cool,44196397,1364127406689193986
2,2021-02-22T23:25:09.000Z,@jgrano305 @AustinTeslaClub We have too much p...,44196397,1363993259756945410
3,2021-02-22T20:22:10.000Z,@TechAmazing @UniverCurious Tunnels!!,44196397,1363947211277496320
4,2021-02-22T20:21:15.000Z,@JantieWillie @Adamklotz_ @AustinTeslaClub Hop...,44196397,1363946979005399040
...,...,...,...,...
95,2020-05-11T21:50:40.000Z,"RT @elonmusk: @ChillMichelle @Tesla Yes, Calif...",44196397,1259964164396601345
96,2020-05-11T20:36:52.000Z,Tesla is restarting production today against A...,44196397,1259945593805221891
97,2020-05-11T20:23:55.000Z,"@ChillMichelle @Tesla Yes, California approved...",44196397,1259942334143148033
98,2020-05-11T20:13:47.000Z,@thirdrowtesla @GavinNewsom Thank you Governor...,44196397,1259939781556887552
99,2020-05-11T17:37:41.000Z,@eBookBooster Zork with AI dungeon master,44196397,1259900500285116416

-----------
nextToken token:  7140dibdnow9c7btw3t3c6neck86kj04hdp40sf0n84s6
200
length of dataframe:  2799

,created_at,text,author_id,id
0,2021-02-23T08:20:41.000Z,@PeterSchiff üçÜ,44196397,1364128031434887170
1,2021-02-23T08:18:12.000Z,@PPathole Super cool,44196397,1364127406689193986
2,2021-02-22T23:25:09.000Z,@jgrano305 @AustinTeslaClub We have too much p...,44196397,1363993259756945410
3,2021-02-22T20:22:10.000Z,@TechAmazing @UniverCurious Tunnels!!,44196397,1363947211277496320
4,2021-02-22T20:21:15.000Z,@JantieWillie @Adamklotz_ @AustinTeslaClub Hop...,44196397,1363946979005399040
...,...,...,...,...
95,2020-05-06T23:53:49.000Z,@BBCScienceNews Yes,44196397,1258183216843730945
96,2020-05-06T16:19:17.000Z,@InSpaceXItrust @Space_Station @Tesla @SpaceX ...,44196397,1258068831123107840
97,2020-05-06T14:45:41.000Z,@Grimezsz U r a powerful üßö‚Äç‚ôÄÔ∏èüë∏,44196397,1258045273470713863
98,2020-05-06T08:04:27.000Z,Wishing good vibes for all in 2nd half 2020,44196397,1257944302543491074
99,2020-05-06T07:40:34.000Z,@28delayslater @PPathole @truth_tesla @flabell...,44196397,1257938292579815424

-----------
nextToken token:  7140dibdnow9c7btw3t3c2dy6hvlccz61iejh4ieoqp84
200
length of dataframe:  2899

,created_at,text,author_id,id
0,2021-02-23T08:20:41.000Z,@PeterSchiff üçÜ,44196397,1364128031434887170
1,2021-02-23T08:18:12.000Z,@PPathole Super cool,44196397,1364127406689193986
2,2021-02-22T23:25:09.000Z,@jgrano305 @AustinTeslaClub We have too much p...,44196397,1363993259756945410
3,2021-02-22T20:22:10.000Z,@TechAmazing @UniverCurious Tunnels!!,44196397,1363947211277496320
4,2021-02-22T20:21:15.000Z,@JantieWillie @Adamklotz_ @AustinTeslaClub Hop...,44196397,1363946979005399040
...,...,...,...,...
95,2020-05-01T15:15:13.000Z,Now give people back their FREEDOM,44196397,1256240766600409088
96,2020-05-01T15:11:26.000Z,Tesla stock price is too high imo,44196397,1256239815256797184
97,2020-05-01T15:10:24.000Z,I am selling almost all physical possessions. ...,44196397,1256239554148724737
98,2020-05-01T14:32:36.000Z,@PPathole @AP4Liberty Incentives matter,44196397,1256230042780291072
99,2020-05-01T14:19:34.000Z,@SciGuySpace Starship is making good progress,44196397,1256226763123953668

-----------
nextToken token:  7140dibdnow9c7btw3t3c074gn8wuszs4l0yixsutdpa0
200
length of dataframe:  2999

,created_at,text,author_id,id
0,2021-02-23T08:20:41.000Z,@PeterSchiff üçÜ,44196397,1364128031434887170
1,2021-02-23T08:18:12.000Z,@PPathole Super cool,44196397,1364127406689193986
2,2021-02-22T23:25:09.000Z,@jgrano305 @AustinTeslaClub We have too much p...,44196397,1363993259756945410
3,2021-02-22T20:22:10.000Z,@TechAmazing @UniverCurious Tunnels!!,44196397,1363947211277496320
4,2021-02-22T20:21:15.000Z,@JantieWillie @Adamklotz_ @AustinTeslaClub Hop...,44196397,1363946979005399040
...,...,...,...,...
95,2020-04-25T00:08:32.000Z,@Kristennetten @PPathole @alexanderbittan @she...,44196397,1253838268187185158
96,2020-04-25T00:06:33.000Z,@PPathole @alexanderbittan @shelbiestrykers No...,44196397,1253837768737898496
97,2020-04-25T00:03:55.000Z,@RenataKonkoly Yes,44196397,1253837102535659522
98,2020-04-25T00:01:50.000Z,@alexanderbittan @shelbiestrykers Yes,44196397,1253836581485580292
99,2020-04-24T23:56:01.000Z,@shelbiestrykers I agree,44196397,1253835118206242817

-----------
nextToken token:  7140dibdnow9c7btw3t3btuqsq0ncyz2l2m6e8qk552k7
200
length of dataframe:  3099

,created_at,text,author_id,id
0,2021-02-23T08:20:41.000Z,@PeterSchiff üçÜ,44196397,1364128031434887170
1,2021-02-23T08:18:12.000Z,@PPathole Super cool,44196397,1364127406689193986
2,2021-02-22T23:25:09.000Z,@jgrano305 @AustinTeslaClub We have too much p...,44196397,1363993259756945410
3,2021-02-22T20:22:10.000Z,@TechAmazing @UniverCurious Tunnels!!,44196397,1363947211277496320
4,2021-02-22T20:21:15.000Z,@JantieWillie @Adamklotz_ @AustinTeslaClub Hop...,44196397,1363946979005399040
...,...,...,...,...
95,2020-04-18T05:46:25.000Z,@tobyliiiiiiiiii @MichaelCanary02 @Erdayastron...,44196397,1251386583846023171
96,2020-04-18T05:43:46.000Z,@bluemoondance74 @MichaelCanary02 @Erdayastron...,44196397,1251385914137260032
97,2020-04-18T05:39:28.000Z,@MichaelCanary02 @Erdayastronaut @dwesterster ...,44196397,1251384834129158145
98,2020-04-18T05:37:25.000Z,@PPathole @xkcdComic ü§£ü§£,44196397,1251384318821195778
99,2020-04-18T05:36:27.000Z,"@Erdayastronaut @dwesterster Similar, but seem...",44196397,1251384072967827458

-----------
nextToken token:  7140dibdnow9c7btw3t3bpjsri4c771xf08zghc9fnw3c
200
length of dataframe:  3199

,created_at,text,author_id,id
0,2021-02-23T08:20:41.000Z,@PeterSchiff üçÜ,44196397,1364128031434887170
1,2021-02-23T08:18:12.000Z,@PPathole Super cool,44196397,1364127406689193986
2,2021-02-22T23:25:09.000Z,@jgrano305 @AustinTeslaClub We have too much p...,44196397,1363993259756945410
3,2021-02-22T20:22:10.000Z,@TechAmazing @UniverCurious Tunnels!!,44196397,1363947211277496320
4,2021-02-22T20:21:15.000Z,@JantieWillie @Adamklotz_ @AustinTeslaClub Hop...,44196397,1363946979005399040
...,...,...,...,...
95,2020-04-11T14:03:06.000Z,@Darkellysio @katlinegrey @Zvezdichko @SciGuyS...,44196397,1248974861227233282
96,2020-04-11T13:55:34.000Z,"@katlinegrey @Zvezdichko @SciGuySpace Strange,...",44196397,1248972963996729344
97,2020-04-11T13:42:04.000Z,@cleantechnica A lot has happened in 8 years,44196397,1248969566748893184
98,2020-04-11T07:12:23.000Z,@AbiyAhmedAli @Tesla Good talking to you too. ...,44196397,1248871502977564672
99,2020-04-11T06:45:17.000Z,"@SciGuySpace SpaceX rockets are 80% reusable, ...",44196397,1248864681894305797

-----------
nextToken token:  7140dibdnow9c7btw3t2wywfqvhcgw915q9irghpkualz
200
length of dataframe:  3206

,created_at,text,author_id,id
0,2021-02-23T08:20:41.000Z,@PeterSchiff üçÜ,44196397,1364128031434887170
1,2021-02-23T08:18:12.000Z,@PPathole Super cool,44196397,1364127406689193986
2,2021-02-22T23:25:09.000Z,@jgrano305 @AustinTeslaClub We have too much p...,44196397,1363993259756945410
3,2021-02-22T20:22:10.000Z,@TechAmazing @UniverCurious Tunnels!!,44196397,1363947211277496320
4,2021-02-22T20:21:15.000Z,@JantieWillie @Adamklotz_ @AustinTeslaClub Hop...,44196397,1363946979005399040
...,...,...,...,...
2,2020-04-10T07:42:17.000Z,@nichegamer ü§£ü§£,44196397,1248516638284095489
3,2020-04-10T07:39:10.000Z,But actually https://t.co/jlowaHobXO,44196397,1248515852653211648
4,2020-04-10T00:23:11.000Z,@arvnp @Jamie_Woodward_ The Standard Model is ...,44196397,1248406132957167621
5,2020-04-10T00:04:04.000Z,@Jamie_Woodward_ ‚Ä¶ is bs,44196397,1248401323587825667
6,2020-04-09T22:58:40.000Z,@Jamie_Woodward_ String theory,44196397,1248384865872928772

,created_at,text,author_id,id
0,2021-02-23T08:20:41.000Z,@PeterSchiff üçÜ,44196397,1364128031434887170
1,2021-02-23T08:18:12.000Z,@PPathole Super cool,44196397,1364127406689193986
2,2021-02-22T23:25:09.000Z,@jgrano305 @AustinTeslaClub We have too much p...,44196397,1363993259756945410
3,2021-02-22T20:22:10.000Z,@TechAmazing @UniverCurious Tunnels!!,44196397,1363947211277496320
4,2021-02-22T20:21:15.000Z,@JantieWillie @Adamklotz_ @AustinTeslaClub Hop...,44196397,1363946979005399040
...,...,...,...,...
2,2020-04-10T07:42:17.000Z,@nichegamer ü§£ü§£,44196397,1248516638284095489
3,2020-04-10T07:39:10.000Z,But actually https://t.co/jlowaHobXO,44196397,1248515852653211648
4,2020-04-10T00:23:11.000Z,@arvnp @Jamie_Woodward_ The Standard Model is ...,44196397,1248406132957167621
5,2020-04-10T00:04:04.000Z,@Jamie_Woodward_ ‚Ä¶ is bs,44196397,1248401323587825667
6,2020-04-09T22:58:40.000Z,@Jamie_Woodward_ String theory,44196397,1248384865872928772

3206

In [19]:
len(tdf_mc)

3206

In [20]:
finalfile =  'TWEETDUMP/twitter_markc_all_df'
picklefile = open(finalfile,'wb')
pickle.dump(tdf_mc, picklefile)

In [21]:
!python --version

Python 3.8.5